* {
  margin: 0;
  padding: 0;
}
html, body {
    height: 100%;
    overflow: visible;
    font-family: Arial,Verdana,Helvetica,sans-serif;
}
#content {
  position: relative;
  min-height: 100%;
}
* html #content {
  height: 100%;
}
/*body {
    background: url("/computerica/images/header-logo.png") no-repeat scroll left 0 #FFFFFF;
}*/
#content {
  position: relative;
  min-height: 100%;
}
* html #content {
  height: 100%;
}

#logo-href {
    position: absolute;
    width: 230px;
    height: 50px;
    top: 10px;
    left: 35px;
    display: block;
    z-index: 100;
    background: url("/computerica/images/logo-white-bg.png") no-repeat scroll left top transparent;
    background-size: 80%;
}

div#loginArea {
    position: relative;
    left: 0;
    padding: 200px 0 100px;
}

table.login {
    margin: 0 auto;
}

#bottom {
    background: url("/computerica/images/bottom-line.png") repeat-x scroll 50% -4px #FFFFFF;
    position: relative;
    height: 40px;
    margin-top: -40px;
    width: 100%;
    text-align: center;
}
table.MainFooter {
    position: relative;
    height: 30px;
    background: url("/computerica/images/bottom-line.png") no-repeat scroll -500px -4px #FFFFFF;
    text-align: left;
    padding-left: 50px;
}

#bottom a {
    font: 14px Arial;
    color: gray;
    line-height: 40px;
}

a {
    color: #30a5d3;
    font-size: 13px;
    font-style: italic;
    text-decoration: underline;
}

td#login_error {
    padding-bottom: 12px;
    color: #F08080;
    text-align: center;
    font-weight: bold;
}

#restorepwd_title {
    text-align: center;
    font-weight: bold;
}

td#restorepwd_success_message {
    width: 187px;
    text-align: center;
    padding: 24px 0;
    color: #F08080;
    font-style: italic;
    display: none;
}

.login_label, .login_link {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
    padding: 6px 9px;
}
.login_label {
    text-align: right;
}

div#loginArea input, div#loginArea select {
    border-style: solid;
    border-color: #a6c8d4 #daf9fe #daf9fe #a6c8d4;
    border-width: 1px;
    background-color: #daf9fe;
    border-radius: 3px;
    box-shadow: inset 1px 1px 0 #c8e8ef;
    font-family: Tahoma,Arial,Verdana,Helvetica,sans-serif;
    font-size: 15px;
    color: #5c5d5d;
}
div#loginArea input {
    padding: 1px 3px;
    width: 180px;
}
    div#loginArea input:focus, div#loginArea select:focus {
        border-color: #d4c7a6 #fef6da #fef6da #d4c7a6;
        background-color: #fef6da;
        box-shadow: inset 1px 1px 0 #efe6c8;
    }

div#loginArea select {
    width: 188px;
}

button.login_button {
    background: url("/skins/aquarium/images/buttons/normal/sprite.png") repeat-x scroll left 50% #FFFFFF;
    height: 28px;
    border: 0;
    border-radius: 5px;
    padding: 2px 18px 4px;
    font-family: Tahoma,Arial,Verdana,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #5c5d5d;
    cursor: pointer;
}
#login_button {
    width: 81px;
    background: url("/skins/aquarium/images/buttons/default/sprite.png") repeat-x scroll left 50% #FFFFFF;
    color: white;
    text-shadow: #127cb1 0 1px;
}
#reset_button {
    width: 103px;
    text-shadow: white 0 1px;
}

.login_tip {
    font-size: 12px;
    font-style: italic;
    color: #777;
    padding: 0 9px;
}

#register_button {
    width: 181px;
    background: url("/skins/aquarium/images/buttons/default/sprite.png") repeat-x scroll left 50% #FFFFFF;
    color: white;
    text-shadow: #127cb1 0 1px;
}

#header-info {
    right: 100px !important;
}

#support-contacts {
    font-size: 13px;
    font-style: italic;
    text-align: left;
    position: absolute;
    right: 120px;
    top: 4px;
    opacity: 1;
    background: white;
    background: rgba(255, 255, 255, .6);
    padding: 2px 6px;
    border: 0;
    border-radius: 3px;
    z-index: 100;
}

/*td#wMain_cell-cMain {
    background-color: transparent !important;
}*/


div.Green_treeFocus {
    outline: none !important;
}


tr.MainPath td{padding-top: 100px !important;}

#wMain_TITLE {display: none;}
.AdminPanel {margin: 18px;}
    .AdminPanel td.AiCell {width: 50%; padding: 18px;}
    .AdminPanel span.text {display: block;}
    .AdminPanel span.Button {margin-top: 6px;}
.LeftTree > div > span.text {display: block; margin-top: 6px;}
.topMenuLink {margin: 3px 12px; text-decoration: none;}
.LeftTree > div > span.text > hr {margin: 3px 21px 3px 12px; height: 0px; border: none; border-top: 1px solid #ccc;}
div.Green_tree div.menuTreeRoot {display: none;}


/*div.Green_tree a.TreeLink {
    color: #30A5D3 !important;
    font-size: 13px !important;
}
#wMain_eTree_wContent_TreeRoot a.TreeLink {color: black !important;}
div.Green_treeline_sel a.TreeLink, div.Green_treeline_hover a.TreeLink {color: #5F5F5F !important;}
*/

.text-centered {text-align: center;}
.text-right {text-align: right;}

table.CA_report {
    width: 100%;
    border-collapse: collapse;
}

table.CA_report > tbody > tr > td {
    border: 1px solid #ccc;
    padding: 5px;
}

table.CA_report > tbody > tr > th {
    padding: 5px;
}

/*span.BigCalendarAndClock {
    margin: 0 17px 0 0 !important;
}

#header-info {
    top: 24px !important;
    left: auto !important;
}

span.HeaderButtonsRow {
    right: 16px !important;
    top: 24px !important;
    z-index: 10;
}*/

.grid-inline-buttonbar {
    border-top: 1px solid #ddd;
    padding-top: 7px;
}
.MiscButtons.grid-inline-buttonbar {text-align: right;}

