@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

ul{
	list-style: none;
	margin-top: 0;
}
body{
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}
.right-zone{
	display: flex;
	width: 600px;
	flex-flow: row wrap;
	justify-content: center;
}
.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	margin-top: 0;
	height: 187px;
	display: flex;
	justify-content: center;
}
.logo{
	margin-top: -40px;
	height: 168px;
}
.shop-layout {
    width: 1028px;
    margin: -30px auto 0;
    display: flex;
    flex-flow: column;
    align-items: center;

	header{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.red{
		color: red;
	}
	.blue{
		color: blue;
	}
    h1 {
	    margin: 0 auto;
	    width: max-content;
    }

    .back-button {
		font-weight: bold;
    	margin-top: 20px;
		height: 30px;
		width: 150px;
		border: 3px solid #000000;
	    background: #ffffff;
		font-size: 20px;
    }

    .ticket-settings {
		display: flex;
		justify-content: space-around;
		position: relative;
		text-align: center;

		.ticket-date {
			h2 {
				margin: 20px auto;
				width: max-content;
			}
			.date-picker{
				display: flex;
				flex-flow: column;
				align-items: center;
			}
		}
		.ticket-rule {
			display: flex;
			flex-flow: column;
			align-items: center;

			.options{
				border-radius: 10px;
				width: 250px;
				box-sizing: border-box;
				border: 3px solid #000000;
				max-height: 300px;
				position: relative;
				font-weight: bold;
				padding: 10px;
				margin-bottom: 20px;
			}
			h2{
				text-align: center;
			}
			.select-container {
				width: 250px;

				.select-box {
					background: #ffffff;
					padding: 10px;
					/*border-radius: 5px;*/
					border: 3px solid #000000;
					cursor: pointer;
					position: relative;

					.label {
						font-weight: bold;
						color: #333;
					}

					.arrow {
						position: absolute;
						right: 10px;
						top: 17px;
						background-color: #333;
						display: inline-block;
						border-left: 5px solid #ffffff;
						border-top: 7px solid #000000;
						border-bottom: 5px solid #ffffff;
						border-right: 5px solid #ffffff;
					}
				}

				.select-options {

					.options-list {
						position: relative;

						ul {
							z-index: 2;
							box-sizing: border-box;
							border-right: 3px solid black;
							border-bottom: 3px solid black;
							max-height: 300px;
							overflow: scroll;
						    list-style: none;
							overflow-y: auto;
							overflow-x: hidden;
							padding: 0;
							background: #ffffff;
							margin: -3px;
							width: 100%;
							position: absolute;
							left: 3px;

							li {
								font-weight: bold;
								padding: 10px;
								border-top: 3px solid #000000;
								border-left: 3px solid #000000;
								/*border-right: 3px solid #000000;*/
								cursor: pointer;
							}
							li:hover {
								background-color: #d1d1d2;
							}
						}
					}
				}

			}
		}
		.ticket-price{
			width: 100%;
			top: 155px;
			text-align: center;
			right: 160px;
			display: flex;
			flex-flow: column;
			align-items: center;
			p{
				border-radius: 10px;
				margin: 0;
				padding: 13px;
				width: 250px;
				border: 1px solid #ddd;
				background-color: #eee;
			}
		}
		.ticket-count {
		
			h2{
				text-align: center;
			}
			.counter {
				font-weight: bold;
				display: flex;
				width: 150px;
				justify-content: space-around;
				height: 39px;
				background: #ffffff;
				line-height: 39px;
				margin: 0 auto 20px;

				.minus, .plus {
					border: 3px solid black;
					font-size: 25px;
					cursor: pointer;
					width: 50px;
					height: 39px;
					text-align: center;
				}
				.plus{
					border-top-right-radius:10px;
					border-bottom-right-radius:10px;
				}
				.minus{
					border-top-left-radius:10px;
					border-bottom-left-radius:10px;
				}

				.counter-value {
					border-top: 3px solid black;
					border-bottom: 3px solid black;
					font-size: 25px;
					background: #ffffff;
					width: 50px;
					height: 39px;
					text-align: center;
				}
			}
		}
    }

    .sessions-section {
    	ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: left;

    		li {
			    margin-right: 20px;
			    padding: 20px;
			    border: 2px solid #78d2ff;
			    border-radius: 5px;
			    box-sizing: border-box;
			    cursor: pointer;

    		}

    		li:hover {
    			border: 2px solid #0099e4;
    		}

    		li.selected {
    			border: 2px solid #0099e4;
    			background: #dcfaff;
    		}
    	}
    }

    .costs-label {
    	top: 210px;
    	right: 220px;
    	position: absolute;
    	font-style: italic;
    	ul {
    		text-align: right;
			list-style: none;
    	}
    	span {
    		font-weight: bold;
    	}
    }
	.submit-section {
		display: flex;
		align-items: center;
		flex-flow: column;

		.purchase-button {
			border-radius: 10px;
			font-weight: bold;
			margin: 30px auto 0;
			height: 50px;
			width: 270px;
			font-size: 24px;
			color: #000000;
			cursor: pointer;
			border: 1px solid #ddd;
			background: #00c768;

		}
		.purchase-button:disabled {
			border: 3px solid #d1d1d2;
			background: #b7dbce;
			cursor: default;
		}
	}
	.submit-section {
			display: flex;
			.purchase-button {
				border-radius: 10px;
				font-weight: bold;
				margin: 30px auto 0;
				height: 50px;
				width: 270px;
				font-size: 24px;
				color: #000000;
				cursor: pointer;
				border: 1px solid #ddd;
				background: #00c768;

			}
			.purchase-button:disabled {
				border: 3px solid #d1d1d2;
				background: #b7dbce;
				cursor: default;
			}
	/*.down-section {
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		flex-flow: row wrap;
		width: 100%;
		height: 120px;

		
		}*/
	}

    .order-positions {
		display: flex;
		justify-content: center;
		margin: 20px 0;
		color: black;

		table {
			border: 3px solid #000000;
			border-collapse: collapse;

			th {
				border: 1px solid black;
				width: 200px;
				background: #d1d1d2;
			}

			td {
				border: 1px solid black;
				text-align: center;
				background: #ffffff;
				height: 40px;
			}
		}
    }

    .form {
	    margin: 20px 0 0;
		display: flex;
		flex-flow: column;
		align-items: center;
		text-align: center;
		label{
			font-weight: bold;
		}
	    input {
	    	margin: 20px 0;
			width: 300px;
			display: block;
			height: 40px;
		    border-radius: 5px;
		    border: 3px solid black;
		    font-size: 17px;
		    background-color: #ffffff;
	    }

	    .email-note {
	    	color: red;
	    }
    }

    .order-result {
    	height: 300px;
    	color: #333;
    	margin: 50px auto;
    }
}

@media (max-width: 990px) {
  .shop-layout {
  	width: unset;
  }
  .ticket-settings{
  	flex-flow: column;
	width: 100% !important;
  }
  .ticket-price{
	  position: static !important;
  }
  /*.date-picker {
  	width: 350px;
  }*/
  .order-positions {
  	width: 100%;
  }
}
@media (max-width: 600px){
	.left-zone, .right-zone{
		width: 100%;
	}
}
@media (max-width: 320px) {
	
	.order-positions {
		width: 290px;
	}
}