@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


body{
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}
.header{
	top: 0;
	left: 0;
	width: 100vw;
	margin-top: 0;
	background: url('/computerica/images/soheader.jpg') no-repeat top center;
	height: 187px;
	display: flex;
	justify-content: center;
}
.logo{
	margin-top: 10px;
	height: 168px;
}
.attention{
		color: red;
		font-size: 20px;
		font-style: italic;
	}
.shop-layout {
    width: 1028px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;

	
    h1 {
	    margin: 0 auto;
	    width: max-content;
    }

    .back-button {
    	margin-top: 20px;
		height: 30px;
		width: 150px;
		border: 1px solid #e6483c;
	    background: #E6603B;
		font-size: 20px;
    }

    .ticket-settings {
	    display: flex;
		justify-content: space-around;

		.ticket-date {
			h2 {
				margin: 20px auto;
				width: max-content;
			}
		}

		.ticket-rule {
			margin: 0 20px;
			h2{
				text-align: center;
			}
			.select-container {
				width: 250px;

				.select-box {
					background: #E6603B;
					padding: 10px;
					border-radius: 5px;
					/*border: 1px solid #E6603B;*/
					cursor: pointer;
					position: relative;

					.label {
						color: #333;
					}

					.arrow {
						position: absolute;
						right: 10px;
						top: 17px;
						background-color: #333;
						display: inline-block;
						border-left: 5px solid #E6603B;
						border-top: 7px solid #ffffff;
						border-bottom: 5px solid #E6603B;
						border-right: 5px solid #E6603B;
					}
				}

				.select-options {

					.options-list {
						position: relative;

						ul {
						    list-style: none;
							padding: 0;
							background: #E6603B;
							margin: -3px;
							width: 100%;
							position: absolute;
							left: 3px;

							li {
								padding: 10px;
								border-bottom: 1px solid #e6483c;
								border-left: 1px solid #e6483c;
								border-right: 1px solid #e6483c;
								cursor: pointer;
							}
							li:hover {
								background-color: #ffaf8c;
							}
						}
					}
				}

			}
		}

		.ticket-count {
			h2{
				text-align: center;
			}
			.counter {
				display: flex;
				width: 150px;
				justify-content: space-around;
				height: 39px;
				background: #E6603B;
				line-height: 39px;
				margin: 0 auto;

				.minus, .plus {
					font-size: 25px;
					cursor: pointer;
					width: 50px;
					height: 39px;
					text-align: center;
				}

				.counter-value {
					font-size: 25px;
					background: #E6603B;
					width: 50px;
					height: 39px;
					text-align: center;
				}
			}
		}
    }

    .sessions-section {
    	ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: left;

    		li {
			    margin-right: 20px;
			    padding: 20px;
			    border: 2px solid #78d2ff;
			    border-radius: 5px;
			    box-sizing: border-box;
			    cursor: pointer;

    		}

    		li:hover {
    			border: 2px solid #0099e4;
    		}

    		li.selected {
    			border: 2px solid #0099e4;
    			background: #dcfaff;
    		}
    	}
    }

    .costs-label {
    	top: 210px;
    	right: 220px;
    	position: absolute;
    	font-style: italic;
    	ul {
    		text-align: right;
			list-style: none;
    	}
    	span {
    		font-weight: bold;
    	}
    }

    .submit-section {
    	display: flex;
    	flex-direction: column;
		justify-content: space-evenly;
		height: 200px;

    	.purchase-button {
    		margin: 0 auto;
			height: 50px;
			width: 270px;
			font-size: 24px;
			color: #666;
			cursor: pointer;
			border: 2px solid #e6483c;
		    background: #E6603B;

		    
    	}
    	.purchase-button:disabled {
			border: 1px solid #ffbfb6;
			background: #e6d0d1;
	    }
    }

    .order-positions {
		display: flex;
		justify-content: center;
		margin: 20px 0;
		color: white;

		table {
			width: 800px;
			border: 1px solid #e6483c;
			border-collapse: collapse;

			th {
				border: 1px solid;
				width: 200px;
				background: #E6603B;
			}

			td {
				border: 1px solid;
				text-align: center;
				background: #e69986;
				height: 40px;
			}
		}
    }

    .form {
	    margin: 20px 0 0;
	    display: flex;
	    flex-flow: column;
	    align-items: center;
	    input {
	    	margin: 20px 0;
			width: 300px;
			display: block;
			height: 40px;
		    border-radius: 5px;
		    border-style: solid;
		    border-color: #e6483c;
		    font-size: 17px;
		    background-color: #ffc6ab;
	    }

	    .email-note {
	    	color: red;
	    }
    }

    .order-result {
    	height: 300px;
    	color: #333;
    	margin: 50px auto;
    }
}

@media (max-width: 990px) {
  .shop-layout {
  	width: unset;
  }

  .ticket-settings {
  	flex-direction: column;
  	align-items: center;
  }

  .date-picker {
  	width: 350px;
  }
  .order-positions {
  	width: 350px;
  }
}
@media (max-width: 320px) {
	
	.order-positions {
		width: 290px;
	}
}