
<div class="container">
    <div class="row" id="user-panel">
    </div>
</div>

<link rel="stylesheet" href="/assets/user-panel.css">
<script type="text/javascript" src="/assets/baloon-core.js"></script>
<script type="text/javascript" src="/assets/user-panel.js"></script>

<script type="text/javascript" language="javascript">
baloonUserPanel('user-panel', 'auth-links');
</script>

