<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{TITLE}}</title>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5QGDJMS');</script>
<!-- End Google Tag Manager -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
    <link rel="stylesheet" href="/public/basicsite.css">
</head>
<body class="public-body">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QGDJMS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header>
      <div class="header-gradient">
        <div class="container">
          <div class="row">
            <a href="http://automuseum.ru" class="header-logo">
              <img style="width: 300px;" src="/custom/automuseum/logo.png" alt="">
            </a>
            
            <div class="phone_top" ok="true">
                8(495)988-80-40
            </div>

            

            
          </div>

        </div>
      </div>
    </header>

      <div class="clearfix">&nbsp;</div>

      {{>CHILDREN}}

      <div class="phone_bot" ok="true">
                8(495)988-80-40
            </div>
      <br/>
      <!-- <footer>
        <div class="container">
          <div class="row">

            <div class="phones">
              <div class="logo">
              </div>
              <p>
                Служба информации:<br>
                +7 (4242) 51-11-10<br>
                <a href="mailto:pr.lebedeva@yandex.ru" style="color: #fff">pr.lebedeva@yandex.ru</a>
                <br>
                
              </p>
              
            </div>

             <div class="footer-nav">
              <div class="title">
                Навигация по сайту
              </div>
              <div class="nav-grid">
                <nav>
                  <ul>
                    <li><a href="http://ski-gv.ru/about/nowadays/" class="root-item">О комплексе</a></li>
                    <li><a href="http://ski-gv.ru/catalog/" class="root-item">Купить</a></li>
                    <li><a href="http://ski-gv.ru/uslugi/" class="root-item">Услуги</a></li>
                    <li><a href="http://ski-gv.ru/fun/" class="root-item">Развлечения</a></li>
                    <li><a href="http://ski-gv.ru/online/" class="root-item">Online карта</a></li>
                    <li><a href="http://ski-gv.ru/news/" class="root-item">Новости</a></li>
                    <li><a href="http://ski-gv.ru/events/" class="root-item">Мероприятия</a></li>
                  </ul>
                </nav>
                <nav>
                  <ul>
                    <li><a href="http://ski-gv.ru/feedback/" class="root-item">Отзывы</a></li>
                    <li><a href="http://ski-gv.ru/catalog/gostinitsy" class="root-item">Проживание</a></li>
                    <li><a href="http://ski-gv.ru/catalog/ski-passy/1.php" class="root-item">Ски-пассы</a></li>
                    <li><a href="http://ski-gv.ru/catalog/prokat-inventarya/" class="root-item">Прокат</a></li>
                    <li><a href="http://ski-gv.ru/uslugi/uslugi-instruktorov/" class="root-item">Услуги инструктора</a></li>
                    <li><a href="http://ski-gv.ru/events/" class="root-item">События</a></li>
                    <li><a href="http://ski-gv.ru/news/foto" class="root-item">Фото</a></li>
                    <li><a href="http://ski-gv.ru/news/video" class="root-item">Видео</a></li>
                  </ul>
                </nav>
                <div class="menu-clear-left"></div>
              </div>
              <div class="title soc_t" style="margin-top: 30px;">
                Принимаем к оплате
              </div>
              <div class="soc">
                <div class="paytools">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20">
                      <path class="cls-1" d="M96.5,357.138a9.882,9.882,0,0,0,0,15.724A9.882,9.882,0,0,0,96.5,357.138ZM102.8,355a10.3,10.3,0,0,0-5.339,1.479,10.964,10.964,0,0,1,0,17.042A10.3,10.3,0,0,0,102.8,375,10,10,0,1,0,102.8,355ZM91.47,365a10.966,10.966,0,0,1,4.064-8.521A10.3,10.3,0,0,0,90.2,355a10,10,0,1,0,0,20,10.3,10.3,0,0,0,5.339-1.479A10.964,10.964,0,0,1,91.47,365Z" transform="translate(-80 -355)"></path>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="15" viewBox="0 0 45 15">
                      <path class="cls-1" d="M156.275,364.8c-0.026,2.09,1.8,3.256,3.182,3.95,1.416,0.711,1.891,1.167,1.886,1.8-0.011.974-1.13,1.4-2.177,1.42a7.407,7.407,0,0,1-3.733-.916l-0.658,3.179a10.624,10.624,0,0,0,4.043.77c3.818,0,6.316-1.946,6.329-4.963,0.015-3.829-5.13-4.042-5.094-5.753a1.49,1.49,0,0,1,1.543-1.213,6.64,6.64,0,0,1,3.584.648l0.639-3.076a9.482,9.482,0,0,0-3.4-.644c-3.594,0-6.122,1.972-6.142,4.8M172,360a2,2,0,0,0-1.587,1.337L165,375h4l0.533-2.384H174.2L175,375h3l-3-15h-3m0.493,4.193,1.1,5.448h-3.015l1.914-5.448M152,360l-4,15h4l4-15h-4m-6,0-3.514,10.149-1.531-8.4A2.282,2.282,0,0,0,139,360h-6l0.006,0.694a14.843,14.843,0,0,1,3.587,1.234,1.59,1.59,0,0,1,.863,1.275L140,375h4l6-15h-4" transform="translate(-133 -360)"></path>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="15" viewBox="0 0 50 15">
                      <path id="Shape_8_copy" data-name="Shape 8 copy" class="cls-1" d="M225.84,361.59l-3.158,7.281h-0.321v-8.865h-4.487v15h3.809a2.56,2.56,0,0,0,2.327-1.585l3.159-7.28h0.32v8.865h4.487v-15h-3.808a2.561,2.561,0,0,0-2.328,1.584m-16.833.388-1.869,6.894h-0.32l-1.869-6.894a2.594,2.594,0,0,0-2.464-1.973h-4.48v15h4.485v-8.866h0.322l2.563,8.866h3.205l2.564-8.866h0.32v8.866h4.487v-15H211.47a2.593,2.593,0,0,0-2.463,1.973m24.892,4.847v8.184h4.478v-4.774h4.816a4.835,4.835,0,0,0,4.528-3.41H233.9Zm9.214-6.819h-10.1a7.214,7.214,0,0,0,7.046,6H247.9a5.138,5.138,0,0,0,.1-1,4.943,4.943,0,0,0-4.887-5" transform="translate(-198 -360)"></path>
                    </svg>
                </div> -->
<!--
                <img width="350px" src="/custom/ski-gv/pay_card.png" alt="">

              </div>
              <a href="#policy" data-uk-modal="" class="pol">Политика конфиденциальности</a>
            </div>


            <div class="footer-contacts">
              <div class="title">
                Контактная информация
              </div>
              <p>
       <br>
                Областное автономное учреждение <br>
                «Спортивно-туристический комплекс «Горный воздух» <br>
       <br>
                Юридический адрес: <br>
       <br>
                693000, Сахалинская область, г. Южно-Сахалинск, Коммунистический пр., 49, оф.201 <br>
       <br>
                Почтовый адрес: <br>
       <br>
                693010, Россия, Сахалинская область,г. Южно-Сахалинск, <br>
                ул. Горный воздух, литер В (административное здание)
              </p>
              <div class="title soc_t">
                Мы в социальных сетях
              </div>
              <div class="soc">
                <a target="_blank" href="http://instagram.com/gorny_vozdukh" class="el instagram"></a>
                <a target="_blank" href="https://ru-ru.facebook.com/Gornyvozdukh" class="el fb"></a>
                <a target="_blank" href="http://vk.com/gorny_vozdukh" class="el vk"></a>
              </div>
            </div>

          </div>
        </div>
      </footer> -->
<style>
  header{
      padding-top: 20px;
  }
  body{
    margin: 0;
    background: url(/custom/automuseum/background.png) no-repeat center center fixed;
    width: 100vw;
    height: 100vh;
  }
  .phone_top{
    font-size:23px;
    font-weight: 500;
  }
  .phone_bot{
    margin-top: 20px;
    text-align: center;
    display: none;
  }
  .phone_bot, .phone_top{
      color: white;
  }

  @media (max-width: 500px){
    .container > .row{
      justify-content: center;
    }
    .phone_top{
      display: none;
    }
    .phone_bot{
      display: block;
    }
  }

</style>


<link rel="stylesheet" href="/custom/tickets/custom.css">

</body>
</html>
