@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

ul{
	list-style: none;
	margin-top: 0;
}
body{
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}
.right-zone{
	display: flex;
	width: 600px;
	flex-flow: row wrap;
	justify-content: center;
}
.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	margin-top: 0;
	height: 187px;
	display: flex;
	justify-content: center;
}
.logo{
	margin-top: -40px;
	height: 168px;
}
.shop-layout {
    width: 1028px;
    margin: -30px auto 0;
    display: flex;
    flex-flow: column;
    align-items: center;

	header{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.red{
		color: red;
	}
	.blue{
		color: blue;
	}
    h1 {
	    margin: 0 auto;
	    width: max-content;
    }

    .back-button {
		font-weight: bold;
    	margin-top: 20px;
		height: 30px;
		width: 150px;
		border: 3px solid #000000;
	    background: #ffffff;
		font-size: 20px;
    }

    .ticket-settings {
		display: flex;
		justify-content: space-around;
		position: relative;
		text-align: center;

		.ticket-date {
			h2 {
				margin: 20px auto;
				width: max-content;
			}
			.date-picker{
				display: flex;
				flex-flow: column;
				align-items: center;
			}
		}
		.ticket-rule {
			display: flex;
			flex-flow: column;
			align-items: center;

			.options{
				border-radius: 10px;
				width: 250px;
				box-sizing: border-box;
				border: 3px solid #000000;
				max-height: 300px;
				position: relative;
				font-weight: bold;
				padding: 10px;
				margin-bottom: 20px;
			}
			h2{
				text-align: center;
			}
			.select-container {
				width: 250px;

				.select-box {
					background: #ffffff;
					padding: 10px;
					/*border-radius: 5px;*/
					border: 3px solid #000000;
					cursor: pointer;
					position: relative;

					.label {
						font-weight: bold;
						color: #333;
					}

					.arrow {
						position: absolute;
						right: 10px;
						top: 17px;
						background-color: #333;
						display: inline-block;
						border-left: 5px solid #ffffff;
						border-top: 7px solid #000000;
						border-bottom: 5px solid #ffffff;
						border-right: 5px solid #ffffff;
					}
				}

				.select-options {

					.options-list {
						position: relative;
						color: #a7a9ac;

						ul {
							z-index: 2;
							box-sizing: border-box;
							border-right: 3px solid black;
							border-bottom: 3px solid black;
							max-height: 300px;
							overflow: scroll;
						    list-style: none;
							overflow-y: auto;
							overflow-x: hidden;
							padding: 0;
							background: #ffffff;
							margin: -3px;
							width: 100%;
							position: absolute;
							left: 3px;

							li {
								font-weight: bold;
								padding: 10px;
								border-top: 3px solid #000000;
								border-left: 3px solid #000000;
								/*border-right: 3px solid #000000;*/
								cursor: pointer;
							}
							li:hover {
								background-color: #d1d1d2;
							}
						}
					}
				}

			}
		}
		.ticket-price{
			width: 100%;
			top: 155px;
			text-align: center;
			right: 160px;
			display: flex;
			flex-flow: column;
			align-items: center;
			p{
				border-radius: 10px;
				margin: 0;
				padding: 13px;
				width: 250px;
				border: 1px solid #ddd;
				background-color: #eee;
			}
		}
		.ticket-count {
		
			h2{
				text-align: center;
			}
			.counter {
				font-weight: bold;
				display: flex;
				width: 150px;
				justify-content: space-around;
				height: 39px;
				background: #ffffff;
				line-height: 39px;
				margin: 0 auto 20px;

				.minus, .plus {
					border: 3px solid black;
					font-size: 25px;
					cursor: pointer;
					width: 50px;
					height: 39px;
					text-align: center;
				}
				.plus{
					border-top-right-radius:10px;
					border-bottom-right-radius:10px;
				}
				.minus{
					border-top-left-radius:10px;
					border-bottom-left-radius:10px;
				}

				.counter-value {
					border-top: 3px solid black;
					border-bottom: 3px solid black;
					font-size: 25px;
					background: #ffffff;
					width: 50px;
					height: 39px;
					text-align: center;
				}
			}
		}
    }

    .sessions-section {
    	ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: left;

    		li {
			    margin-right: 20px;
			    padding: 20px;
			    border: 2px solid #78d2ff;
			    border-radius: 5px;
			    box-sizing: border-box;
			    cursor: pointer;

    		}

    		li:hover {
    			border: 2px solid #0099e4;
    		}

    		li.selected {
    			border: 2px solid #0099e4;
    			background: #dcfaff;
    		}
    	}
    }

    .costs-label {
    	top: 210px;
    	right: 220px;
    	position: absolute;
    	font-style: italic;
    	ul {
    		text-align: right;
			list-style: none;
    	}
    	span {
    		font-weight: bold;
    	}
    }
	.submit-section {
		display: flex;
		align-items: center;
		flex-flow: column;

		.purchase-button {
			border-radius: 10px;
			font-weight: bold;
			margin: 30px auto 0;
			height: 50px;
			width: 270px;
			font-size: 24px;
			color: #000000;
			cursor: pointer;
			border: 1px solid #ddd;
			background: #00c768;

		}
		.purchase-button:disabled {
			border: 3px solid #d1d1d2;
			background: #b7dbce;
			cursor: default;
		}
	}
	.submit-section {
			display: flex;
			.purchase-button {
				border-radius: 10px;
				font-weight: bold;
				margin: 30px auto 0;
				height: 50px;
				width: 270px;
				font-size: 24px;
				color: #000000;
				cursor: pointer;
				border: 1px solid #ddd;
				background: #00c768;

			}
			.purchase-button:disabled {
				border: 3px solid #d1d1d2;
				background: #b7dbce;
				cursor: default;
			}
	/*.down-section {
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		flex-flow: row wrap;
		width: 100%;
		height: 120px;

		
		}*/
	}

    .order-positions {
		display: flex;
		justify-content: center;
		margin: 20px 0;
		color: black;

		table {
			border: 3px solid #000000;
			border-collapse: collapse;

			th {
				border: 1px solid black;
				width: 200px;
				background: #d1d1d2;
			}

			td {
				border: 1px solid black;
				text-align: center;
				background: #ffffff;
				height: 40px;
			}
		}
    }

    .form {
	    margin: 20px 0 0;
		display: flex;
		flex-flow: column;
		align-items: center;
		text-align: center;
		label{
			font-weight: bold;
		}
	    input {
	    	margin: 20px 0;
			width: 300px;
			display: block;
			height: 40px;
		    border-radius: 5px;
		    border: 3px solid black;
		    font-size: 17px;
		    background-color: #ffffff;
	    }

	    .email-note {
	    	color: red;
	    }
    }

    .order-result {
    	height: 300px;
    	color: #333;
    	margin: 50px auto;
    }
}
/*--------------------------------------Session-layout--------------------------------------------------*/
.session-layout{
	font-family: "Open Sans";
	display: flex;
	flex-flow: wrap;
	width: 1221px;
	padding: 30px 0;
	margin-top: -19px;
	 > h1{
        margin-top: 30px;
		display: none;
		font-size: 55px;
		width: 100%;
		text-align: center;
		margin-bottom: 61px;
	}

	.session-ticket{
		width: 192px;
		text-align: center;
		color: #939598;
		font-size: 11px;
		margin-top: 69px;
		.counter {
			font-weight: bold;
			display: flex;
			width: 100% !important;
			justify-content: space-around;
			font-size: 32px;
			.minus, .plus{
				cursor: pointer;
			}
			
	}
		.session__big{
			display: flex;
			margin-bottom: 10px;
			width: 100%;
			flex-flow: wrap;
			.session__human_big{
				margin-top: 10px;
				cursor: pointer;
				width: 48px;
				height: 86px;
				background: url("/custom/katokpiter/human_big_unactive.png") no-repeat center /contain;
			}
			/*.session__human_big:hover{
				background: url("/custom/katokpiter/human_big_hover.png") no-repeat;
			}*/
			.session__human_big-active{
				margin-top: 10px;
				cursor: pointer;
				width: 48px;
				height: 86px;
				background: url("/custom/katokpiter/human_big.png") no-repeat center /contain;
			}
		}
		.session__small{
			display: flex;
			.session__human_small{
				padding: 0 5px;
				width: 38px;
				height: 62px;
				background: url("/custom/katokpiter/human_small_unactive.png") no-repeat center /contain;
			}
			/*.session__human_small:hover{
				background: url("/custom/yaroslavl/human_small_hover.png") no-repeat;
			}*/
			.session__human_small-active{
				padding: 0 5px;
				width: 38px;
				height: 62px;
				background: url("/custom/katokpiter/human_small.png") no-repeat center /contain;
			}
		}
		p{
			text-align: center;
			font-size: 18px;
			margin-left: -6px;
			color: #939598;
		}
	}
	.session__right-part {
		> div{
			margin-left: 166px;
			display: flex;
			flex-flow: wrap;
			.session-settings {
				h1 {
					font-size: 44px;
					width: 100%;
					text-align: left;
					margin-bottom: 61px;
				}
				.session__time{
					margin-top: 30px;
				}

				.select-container {
					width: 387px;

					.select-box {

						height: 35px;
						margin-top: 30px;
						padding: 13px 10px 0;
						border: 1px solid #939598;
						border-radius: 10px;
						cursor: pointer;
						position: relative;

						.label {
							color: #939598;
							font-size: 20px;
						}

						.clock{
							position: absolute;
							right: 9px;
							top: 4px;
							display: inline-block;
							background: url("/custom/katokpiter/clock.png") no-repeat center /contain;
							height: 42px;
							width: 34px;
						}
					}

					.select-options {

						.options-list {
							position: relative;
							color: #939598;
							ul {
								z-index: 2;
								box-sizing: border-box;
								border-right: 1px solid #939598;
								border-bottom: 1px solid #939598;
								max-height: 300px;
								overflow: scroll;
								list-style: none;
								overflow-y: auto;
								overflow-x: hidden;
								padding: 0;
								background: #f2f3f5;
								margin: -3px;
								width: 100%;
								position: absolute;
								left: 3px;

								li {
									font-size: 20px;
									padding: 10px;
									border-top: 1px solid #939598;
									border-left: 1px solid #939598;
									/*border-right: 3px solid #000000;*/
									cursor: pointer;
								}
								li:hover {
									background-color: #d1d1d2;
								}
							}
						}
					}

				}

				.session__date {
					position: relative;
					padding: 5px 5px 23px 15px;
					border: 1px solid #939598;
					border-radius: 10px;
					height: 21px;
					width: 366px;
					display: flex;
					justify-content: space-between;
					align-content: center;
					.date-picker {
						padding: 8px;
						top: 36px;
						right: -407px;
						z-index: 5;
						position: absolute;
						background-color: #f2f3f5;
						border: 2px solid #939598;
						border-radius: 13px;
						border-top-left-radius: 0;
					}
					p {
						margin-top: 8px;
						font-size: 20px;
						color: #939598;
					}
					.session__calendar {
						margin-top: 2px;
						cursor: pointer;
						width: 42px;
						height: 34px;
						background: url("/custom/katokpiter/calendar.png") no-repeat center /contain;

					}
					.session__clock {
						margin-top: 6px;
						cursor: pointer;
						width: 42px;
						height: 34px;
						background: url("/custom/katokpiter/clock.png") no-repeat center /contain;

					}
				}
				.session__email {
					margin-top: 30px;
					input {
						box-shadow: none;
						padding: 0 0 0 18px;
						border: 1px solid #939598;
						border-radius: 10px;
						height: 49px;
						width: 366px;
						font-size: 20px;
						background-color: #f2f3f5;

					}
					input::placeholder {
						opacity: 1;
						color: #939598;
					}
				}
				.session__price {
					display: flex;
					p {
						font-size: 76px;
						font-weight: 800;
						margin-top: 16px;
						margin-bottom: 9px;
					}
					div {
						font-size: 44px;
						margin-top: 27px;
					}
				}
				.promo-section{
					position: relative;
					display: flex;
					flex-flow: column;
					width: 207px;
					margin-bottom: 10px;
					p{
						width: 100%;
						position: absolute;
						
						font-size: 13px;
						text-align: center;
					}
					.promo-false{
						top: 121px;
						color: red;
					}
					.promo-true{
						top: 126px;
						color: green;
					}
					h2{
						margin-bottom: 24px;
						color: #939598;
					}
					input{
						border: 1px solid #939598;
						margin-bottom: 40px;
						background-color: #f2f3f5;
					}
					button{
						height: 38px;
						color: white;
						font-size: 18px;
						background-color: #f8e008;
						border: 0;
						border-radius: 10px

					}
				}
				.session__rights {
					display: flex;
					align-items: flex-start;
					p {
						width: 352px;
						margin: 0 0 0 9px;
					}
				}
				.session__button {
					margin-top: 16px;
					.button-unactive {
						border: none;
						box-sizing: border-box;
						background-color: #857108;
						color: white;
						border-radius: 12px;
						width: 258px;
						height: 61px;
						font-size: 23px;
						text-align: center;
					}
					.button-active {
						cursor: pointer;
						border: none;
						box-sizing: border-box;
						background-color: #f8e008;
						color: white;
						border-radius: 12px;
						width: 258px;
						height: 61px;
						font-size: 23px;
						text-align: center;
					}
				}
			}
			.session__info {
				box-sizing: border-box;
				padding: 8px 29px;
				width: 377px;
				background-color: #f8e008;
				font-size: 23px;
				margin-left: 74px;
				display: flex;
				flex-flow: column;
				align-items: flex-start;
				.session__phone-number {
					color: white;
					font-size: 40px;
					font-weight: bold;
				}
				.session__text {
					margin-top: 53px;
					span {
						display: block;
						padding: 2px 3px;
						font-size: 15px;
					}
					a {

						color: #608da2;
						text-decoration: underline;
						padding: 2px 3px;
						font-size: 14px;
						display: block;

					}

				}
				.session__icons {
					width: 294px;
					height: 195px;
					margin-top: 16px;
					background: url("/custom/katokpiter/icons.png") no-repeat center /contain;
				}
				.session__text_1 {
					margin-top: 10px;
					font-size: 14px;
				}
				.session__text_2 {
					margin-top: 5px;
					font-size: 14px;
				}
			}
		}
		.session__logos{
			margin-top: 35px;
			.session__logo_1{
				background: url("/custom/katokpiter/logo_1.png") no-repeat center /contain;
				width: 240px;
				height: 111px;
			}
			.session__logo_2{
				width: 200px;
				margin-top: 16px;
				margin-left: 20px;
				background: url("/custom/katokpiter/logo_2.png") no-repeat center /contain;
				height: 95px;
			}
			.session__logo_3{
				margin-left: 26px;
				width: 354px;
				background: url("/custom/katokpiter/logo_3.png") no-repeat center /contain;
				height: 111px;
			}
		}
	}
}
@media (max-width: 1228px){
	.session-layout{
		flex-flow: column;
		align-items: center;
		.session-ticket{
			margin-left: 0;
		}
	}
	.session__right-part {
      display: flex;
      flex-flow: column;
      align-items: center;
      .session__logos{
        align-items: flex-start;
      }
		> div{
			flex-flow: column !important;
			align-items: center;
			margin-left: 0 !important;
			.session-settings{
				display: flex;
				flex-flow: column;
				align-items: flex-start;
			}
			.session-info{
				margin-left: 0;
			}
			.session__logos{
				.session__logo_2{
					margin-top: 30px;
				}
				.session__logo_3{
					margin-top: 30px;
				}
			}
		}
	}
}

@media (max-width: 1195px){
	.shop-layout {
		width: unset;
	}
}

@media (max-width: 990px) {

  .ticket-settings{
  	flex-flow: column;
	width: 100% !important;
  }
  .ticket-price{
	  position: static !important;
  }
  /*.date-picker {
  	width: 350px;
  }*/
  .order-positions {
  	width: 100%;
  }
}
@media (max-width: 600px){
	.left-zone, .right-zone{
		width: 100%;
	}
}
@media (max-width: 320px) {
	.order-positions {
		width: 290px;
	}
}
@media (max-width: 1228px){
	.session-layout{
		width: 100%;
		.session-ticket{
			margin-left: 243px;
		}
		.session__info{
			margin-left: 304px;
			margin-top: 40px;
		}
		.session-settings{
			align-items: center !important;
			.session__date {
				.date-picker {
					right: 42px;
					border-top-right-radius: 0;
					border-top-left-radius: 13px;
				}
			}
		}
		.session__logos {
			.session__logo_3 {
				margin-top: 30px;
				width: 278px !important;
			}
		}
	}
	.session-layout{
		flex-flow: column;
		align-items: center;
		> h1{
			display: block;
		}
		div{
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
		.session__ticket{
			margin-top: 69px;
		}
		.session-ticket p{
			margin-left: 4px;
		}
		.session-settings{
			display: flex;
			flex-flow: column;
			align-items: center;
			> h1{
				display: none;
			}
		}
		.date-picker {
			right: -19px !important;
			top: -7px !important;
			transform: scale(0.8,0.8);
			border-top-right-radius: 0 !important;
			border-top-left-radius: 13px !important;
		}
	}
}

@media (max-width: 418px){
	.session-layout {
		.date-picker {
			right: -28px !important;
			top: -18px !important;
		}
		.session-settings{
			.session__rights{
				p{
					width: 280px !important;
				}
			}
		}
		.session__info {
			width: 300px !important;
          .session__icons{
            width: 250px !important;
          }
          .session__phone-number{
            font-size: 30px !important;
          }
		}
		.select-container {
			width: 320px !important;
			.select-box {
				.label {
					font-size: 17px !important;
				}
			}
			.select-options{
				.options-list{
					ul{
						li{
							font-size: 17px !important;
						}
					}
					
				}
			}
		}
		.session-settings{
			.session__email{
				width: 320px !important;
                input{
                  width: 300px !important;
                }
			}
			.session__date {
				width: 298px !important;
				.date-picker {
					padding-top: 23px;
					right: -9px;
					top: -21px;
					transform: scale(0.7,0.7);
				}
			}
		}
	}
}