
body {
    background: transparent;
    font-family: Arial;
    color: #0d3d31;
}

#logo-href {
    width: 118px;
    height: 171px;
    top: 18px;
    left: 18px;
    background: url("/custom/skazka.kz/logo-skazka-small.png") no-repeat scroll left top transparent;
}

div#loginArea {
    position: relative;
    left: 0;
    padding: 180px 0 100px;
}

div#loginArea input, div#loginArea select {
    border-color: #bfe0d1 #daf9fe #daf9fe #bfe0d1;
    background-color: #e7f6ef;
}

#login_button {
    background: #00b482;
    height: auto
}



.Green_tree_1 {
    padding-top: 208px;
}

tr.MainPath td {
    padding-top: 60px !important;
}

td.LeftTree {
    min-width: 151px;
}

a,
div.Green_tree a.TreeLink,
span[visibility='link'], 
span.SuperclassInput.Link, 
table.ControlArray.Link thead th, 
.Link label {
    color: #0d3d31 !important;
    font-weight: bold;
    font-style: normal;
}
span[visibility='link'], 
span.SuperclassInput.Link, 
table.ControlArray.Link thead th, 
.Link label {
    text-decoration: underline;
}
span[visibility='link']:hover, 
span.SuperclassInput.Link:hover, 
table.ControlArray.Link thead th:hover, 
.Link label:hover {
    color: #0d3d31 !important;
}

body table.ScrollableGrid tr.SG_ActiveRow_Single td {
    background-color: rgba(0, 180, 130, .6) !important;
}
span.BigCalendarAndClock {
    background: rgba(0, 180, 130, .6) !important;
    box-shadow: 1px 1px 1px #00b482 !important;
}
