<!DOCTYPE html>

{{lr=//Baloon/PersonIdentifierOrderline/PersonIdentifierOrderlineListGet(orderid=@@id@)}}
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
    html, body {margin: 0; padding: 0; font-family: 'open-sans';}
    
   

    .clearfix {
        float: none; clear: both;
    }
    span.barcode {
        font-size: 24pt;
    }
    .totals td {font-weight: bold;}
    .numeric {text-align: right;}
    .page {
        background-size: 190mm 277mm;
        width: 210mm;
        height: 297mm;
        margin: 5mm 5mm 10mm 5mm;
    }
    h2,h3 {margin: 0;}
    div.barcode {
        width: 70mm;
        text-align: center;
        -webkit-transform:  rotate(-90deg);
        transform: rotate(-90deg);
    }

    .talon {
        background-size: contain;
        background-repeat: no-repeat;
   
    }
    .talon::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    .talon-left {
        width: 30mm;
        height: 80mm;
        float: left;
    }
        .talon-left > p {
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            width: 68mm;
            text-align: center;
            position: relative;
            left: -56pt;
            top: 90pt;
            font-size: 8pt;
        }

    .talon-center {
        width: 400pt;
        height: 80mm;
        float: left;
        background-size: 525px;
    }
        .talon-center > div {
            box-sizing: border-box;
            height: 61px;
        }
        .talon-center > div > label,
        .talon-center > div > span {
            line-height: 15mm;
        }
        .talon-center > div > label {
            font-size: 14pt;
            text-transform: uppercase;
            font-weight: bold;
            display: inline-block;
            width: 200pt;
            margin: 0 10pt;
        }
        .talon-center > div > label > span.sub {
            font-size: 60%;
            font-weight: normal;
            text-transform: none;
        }
        .talon-center > div.date > label,
        .talon-center > div.price > label {
            width: 150pt;
        }
        .talon-center > div.date > span {
            font-size: 90%;
        }
        .talon-center > div > span {
            font-size: 12pt;
        }
        .talon-center > div.owner > span {
            font-size: 11pt;
        }
        


    .talon-right {
        float: left;
        width: 30mm;
        height: 80mm;
    }
        .talon-right div.barcode {
            position: relative;
            left: -53pt;
            top: 78pt;
        }
        .talon-right .barcode_num {
            font-size: 10pt;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            width: 70mm;
            text-align: center;
            position: relative;
            left: -14pt;
            top: 40pt;
        }

    .header {
        margin: 0;
        padding: 20pt 10pt 5pt;
    }
        .header .bold {
            font-family: 'open-sans-bold';
            font-weight: 700;
        }
        .header ul {
            float: left;
            justify-content: space-between;
            width: 470px;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin-left: 25px;
        }
        .header > ul > li {
            margin: 0;
            float: left;
            font-size: 10pt;
        }
        .header > ul .li_left {
            width: 47%;
            margin-right: 45px;
        }
        .header > ul .li_right {
            width: 43%;
        }
        .header > ul > .full_width_li {
            margin-top: 30px;
            width: 100%;
        }
        .header .header_logo {
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            left: 15px;
            top: 0px;
            width: 220px;
            height: 40px;
            z-index: 23;
        }
        .header .aquarium_logo {
    
            background-size: cover;
            background-repeat: no-repeat; 
            position: relative;
            float: left;
            display: inline-block;
            width: 250px;
            height: 250px;
        }
    .footer > .columns {
        display: flex;
        text-transform: uppercase;
        padding: 0 50pt;
        flex-wrap: wrap;
        justify-content: space-between;
    }
        .footer .column_wide {
            width: 60%;
            font-size: 9pt;
        }
        .footer .column_narrow {
            width: 31%;
            font-size: 16px;
        }
        .footer .column_narrow .note_price {
            font-family: 'open-sans-bold';
            font-weight: 700;
        }
        .footer .column_narrow .note_extra {
            font-size: 12px;
        }
        .footer .column_full {
            width: 100%;
            font-size: 9pt;
        }
        .footer .tickets_return {
            font-size: 8pt;
            font-family: 'open-sans-semibold';
            color: #777;
            padding: 5pt 50pt;
        }
        .footer .columns > p {
            float: left;
            margin: 0 10pt 20pt 0;
            color: #000;
        }
    .dashed {
        border-top: 1px dashed black;
        margin: 40pt 11pt 30pt 0;
    }
    .dashed-bottom {
        margin: 50pt 11pt 20pt 0;
    }
    </style>
<base href="http://62.76.176.164">
</head>
<body>


##LIST#
<div class="page">
  <div class="header">
    <div class="header_logo"></div>
    <div class="aquarium_logo"></div>
    <ul>
      <li class="li_left">
        <span class="bold">Распечатайте этот PDF-файл в формате A-4 самостоятельно.</span><br>
      </li>
      <li class="li_right">
        <span class="bold">Сложите билет по пунктирным линиям. Приложите штрих-код электронного билета в считывающее устройство.</span><br>
      </li>
      <li class="full_width_li">
          <span class="bold">ВНИМАНИЕ!</span> <br>
          БИЛЕТ МОЖЕТ БЫТЬ ИСПОЛЬЗОВАН ТОЛЬКО ОДИН РАЗ И ТОЛЬКО В СООТВЕТСТВУЮЩИЙ ДЕНЬ. <br><br>
          КОПИРОВАТЬ БИЛЕТ НЕЛЬЗЯ, КОПИЯ БУДЕТ НЕДЕЙСТВИТЕЛЬНА.
      </li>
    </ul>
    <div class="clearfix"><!-- --></div>
  </div>

  <div class="dashed"><!-- --></div>

  <div class="talon">
          
      <div class="talon-left">
        <p>СПОРТИВНЫЙ КОМПЛЕКС "Воробьевы горы" г. Москва, Воробьевы горы, ул. Косыгина, д 28</p>
      </div>

      <div class="talon-center">
        <div class="ticket_num"><label>Электронный билет №</label><p class="v" style=" display: inline-block; width: 200px; word-break: break-all;">{{lr.identifiercode}}</p></div>
        <div class="owner"><label>Владелец билета</label><span class="v"></span></div>
        <div class="category"><label>Категория билета</label><span class="v">{{lr.identifiername}}</span></div>
        <div class="date"><label class="datetime">Дата</label><span class="v">{{lr.identifiervalid_from}}</span></div>
        <div class="price"><label>Цена</label><span class="v"></span></div>
      </div>

      <div class="talon-right">
        <div class="barcode">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 399.079 399.079" style="enable-background:new 0 0 399.079 399.079;" xml:space="preserve">
<g>
	<g>
		<path d="M371.84,100.04c-2.01-3.457-6.443-4.63-9.9-2.62l-35.36,20.44c-3.457,2.01-4.63,6.443-2.62,9.9
			c2.01,3.457,6.443,4.63,9.9,2.62l35.36-20.44C372.677,107.929,373.85,103.497,371.84,100.04z"/>
	</g>
</g>
<g>
	<g>
		<path d="M369.22,289.18l-35.36-20.44c-3.457-2.01-7.89-0.837-9.9,2.62c-2.01,3.457-0.837,7.89,2.62,9.9l35.36,20.44
			c3.457,2.01,7.89,0.837,9.9-2.62C373.85,295.622,372.677,291.19,369.22,289.18z"/>
	</g>
</g>
<g>
	<g>
		<path d="M200.099,342.62c-4.01-0.298-7.501,2.711-7.799,6.721c-0.027,0.359-0.027,0.719,0,1.078v40.84
			c-0.298,4.01,2.711,7.501,6.721,7.799s7.501-2.711,7.799-6.721c0.027-0.359,0.027-0.719,0-1.078v-40.84
			C207.117,346.41,204.108,342.918,200.099,342.62z"/>
	</g>
</g>
<g>
	<g>
		<path d="M72.5,117.86L37.14,97.42c-3.457-2.01-7.89-0.837-9.9,2.62c-2.01,3.457-0.837,7.89,2.62,9.9l35.36,20.44
			c3.457,2.01,7.89,0.837,9.9-2.62C77.13,124.302,75.957,119.87,72.5,117.86z"/>
	</g>
</g>
<g>
	<g>
		<path d="M200.099,0.02c-4.01-0.298-7.501,2.711-7.799,6.721c-0.027,0.359-0.027,0.719,0,1.078v40.84
			c0.022,3.989,3.251,7.218,7.24,7.24c4.021,0,7.28-3.259,7.28-7.28V7.82C207.117,3.81,204.108,0.318,200.099,0.02z"/>
	</g>
</g>
<g>
	<g>
		<path d="M130.34,65.22l-20.4-35.36c-2.01-3.457-6.443-4.63-9.9-2.62c-3.457,2.01-4.63,6.443-2.62,9.9l20.4,35.36
			c2.01,3.457,6.443,4.63,9.9,2.62C131.177,73.109,132.35,68.677,130.34,65.22z"/>
	</g>
</g>
<g>
	<g>
		<path d="M200.618,134.94c-0.359-0.027-0.719-0.027-1.078,0c-35.678,0-64.6,28.922-64.6,64.6c0,4.021,3.259,7.28,7.28,7.28
			c4.005-0.022,7.24-3.275,7.24-7.28c-0.022-27.636,22.364-50.058,50-50.08c0.027,0,0.053,0,0.08,0
			c4.01,0.298,7.501-2.711,7.799-6.721S204.628,135.237,200.618,134.94z"/>
	</g>
</g>
<g>
	<g>
		<path d="M397.98,198.98c-0.267-3.595-3.125-6.454-6.721-6.721h-40.84c-4.01-0.298-7.501,2.711-7.799,6.721
			s2.711,7.501,6.721,7.799c0.359,0.027,0.72,0.027,1.079,0h40.84C395.269,206.482,398.278,202.99,397.98,198.98z"/>
	</g>
</g>
<g>
	<g>
		<path d="M49.738,192.3c-0.359-0.027-0.719-0.027-1.078,0H7.82c-4.01,0.298-7.019,3.79-6.721,7.799
			c0.267,3.595,3.125,6.454,6.721,6.721h40.84c4.01,0.298,7.501-2.711,7.799-6.721C56.757,196.089,53.748,192.597,49.738,192.3z"/>
	</g>
</g>
<g>
	<g>
		<path d="M199.569,92.7c-59.006-0.008-106.846,47.819-106.855,106.825c-0.004,28.347,11.258,55.534,31.305,75.575
			c20.009,20.059,47.188,31.316,75.52,31.28c59.006,0.008,106.847-47.819,106.855-106.825S258.575,92.708,199.569,92.7z
			 M264.819,264.94c-36.053,36.053-94.507,36.053-130.56,0c-17.343-17.343-27.072-40.874-27.04-65.4
			c-0.035-24.492,9.697-47.987,27.04-65.28v0.12c36.053-36.053,94.507-36.053,130.56,0
			C300.873,170.433,300.873,228.887,264.819,264.94z"/>
	</g>
</g>
<g>
	<g>
		<path d="M301.678,361.972c-0.006-0.011-0.012-0.022-0.019-0.032l-20.44-35.36c-2.01-3.457-6.443-4.63-9.9-2.62
			c-3.457,2.01-4.63,6.443-2.62,9.9l20.44,35.36c2.002,3.453,6.422,4.634,9.88,2.64
			C302.484,369.863,303.675,365.436,301.678,361.972z"/>
	</g>
</g>
<g>
	<g>
		<path d="M299.28,27.24c-3.457-2.01-7.89-0.837-9.9,2.62l-20.44,35.36c-2.024,3.449-0.868,7.885,2.58,9.908
			c0.007,0.004,0.013,0.008,0.02,0.012h0c3.454,2.014,7.887,0.847,9.901-2.608c0.006-0.011,0.013-0.022,0.019-0.032l20.44-35.36
			C303.91,33.682,302.737,29.25,299.28,27.24z"/>
	</g>
</g>
<g>
	<g>
		<path d="M127.76,323.96c-3.457-2.01-7.89-0.837-9.9,2.62l-20.44,35.36c-2.01,3.457-0.837,7.89,2.62,9.9s7.89,0.837,9.9-2.62
			l20.44-35.36C132.39,330.402,131.217,325.97,127.76,323.96z"/>
	</g>
</g>
<g>
	<g>
		<path d="M75.12,271.32c-2.01-3.457-6.443-4.63-9.9-2.62l-35.36,20.44c-3.457,2.01-4.63,6.443-2.62,9.9
			c2.01,3.457,6.443,4.63,9.9,2.62l35.36-20.44C75.957,279.209,77.13,274.777,75.12,271.32z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
        </div>
        
      </div>
  </div>
  <div class="clearfix"><!-- --></div>

  <div class="dashed dashed-bottom"><!-- --></div>

  <div class="footer">
    
    <div class="tickets_return">
    Возврат Электронного билета<br>
    <ul>
        <li>возврат приобретенного Электронного билета осуществляется в соответствии с настоящей Офертой и правилами, установленными Исполнителем;</li>
        <li>возврат денежных средств осуществляется тем же способом, которым производилась оплата (на банковский счет Покупателя - при оплате банковской картой);</li>
        <li>для получения возврата денежных средств Покупателю необходимо обратиться в кассу Исполнителя с распечатанным действующим Электронным билетом и написать заявление на возврат. При себе необходимо иметь документ, удостоверяющий личность (паспорт).</li>
    </ul>
    </div>

  </div>



<!-- <div class="address-map" id="address-map-1.004"></div> -->

</div>
##/LIST#


</body></html>

