
<div class="container">
	<h2>404 Страница не найдена</h2>
	<p>Ой, такой страницы не существует. Мы не знаем, как вы сюда попали, но на этой странице ничего нет. Нужное мероприятие вы можете отыскать на главной странице сайта.</p>
</div>

