<div class="container">
    <div class="row">

<div id="loginArea">
    <h2>Восстановление пароля</h2>
    <form id="restorepwd_form">
        <table class="login"><tbody>
            <tr><td colspan="3" id="login_error"><!-- --></td></tr>
            <!--
            <tr>
                <td></td>
                <td style="text-align: center; padding-bottom: 1em;">
                    <a href="/en_US/index-en.html">Switch to English</a>
                    <br />
                </td>
                <td></td>
            </tr>
            -->
            <tr>
                <td class="login_label">Ключ подтверждения:</td>
                <td><input id="uid" name="uid" type="text" tabindex="1" value="{{uid}}"/></td>
                <td class="login_tip"></td>
            </tr>
            <tr>
                <td class="login_label">Пароль:</td>
                <td><input id="password" name="password" type="password"  tabindex="2"/></td>
                <td class="login_tip">пароль вводится с учётом регистра</td>
            </tr>
            <tr>
                <td class="login_label">Подтверждение пароля:</td>
                <td><input id="password2" name="password2" type="password"  tabindex="3"/></td>
                <td class="login_tip"></td>
            </tr>
            <!--
            <tr>
                <td class="login_label">Язык:</td>
                <td>
                    <select id="language" tabindex="3">
                        <option selected value="ru_RU">Русский</option>
                        <option value="en_US">English</option>
                    </select>
                </td>
            </tr>
            -->
            <!--
            <tr>
                <td class="login_label">Оформление:</td>
                <td>
                    <select id="skin" tabindex="3">
                        <option selected value="aquarium">Синее, фирменное</option>
                        <option value="green">Зелёное</option>
                    </select>
                </td>
            </tr>
            -->
            <tr>
                <td></td>
                <td  class="restorepwd_button" nowrap="yes">
                    <button id="restorepwd_button" type="submit" class="login_button" title="" tabIndex="4">Отправить запрос</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center; padding-top: 1em;">
                    <a href="/auth/login.html">Вход в систему</a>
                </td>
                <td></td>
            </tr>
            <tr><td colspan="3" id="restorepwd_success_message">
                Пароль изменён. Вы можете войти в систему с новым паролем.
            </td></tr>
            </tbody>
        </table>
    </form>
</div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/public/effi-protocol.js"></script>

<script type="text/javascript">
    var workflowid = 1, 
        effi = new EffiProtocol();

    // jQuery(document).ready(function() {
    //     jQuery('#uid').val(location.hash.substr(1));
    //     if (!location.hash) jQuery('#uid').focus();
    //     else jQuery('#password').focus();
    // });

    jQuery('#restorepwd_form').submit(function(e) {
        e.preventDefault();
        // console.log(jQuery(this).serializeTypedArray());
        var data = jQuery(this).serializeAURL();
        console.log(data);

        effi.request({
            url: '/nologin/srv/Basicsite/AuthConfirmationToken/ConfirmRestorePassword',
            data: data,
            callback: function (result) {
                jQuery('#login_error').hide();
                jQuery('#restorepwd_success_message').show();
            },
            error: function (error) {
                jQuery('#login_error').html(error.ExceptionText);
                jQuery('#restorepwd_success_message').hide();
                jQuery('#login_error').show();
            }
        });
    });
</script>

