<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{TITLE}} | Компьютерика</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/public/basicsite.css">
</head>
<body class="public-body">
      <img src="/computerica/images/hillpark-logo.jpg" alt="logo">
      <div class="container">
        <div class="row">
          <h3 class="masthead-brand"><a href="/">Компьютерика</a> / {{TITLE}}</h3>
          <nav>
            <ul class="nav masthead-nav">
              <!-- {{#TOP_MENU}}<li><a href="{{href}}">{{label}}</a></li>{{/TOP_MENU}} -->
             <!-- <li><a href="/auth/login.html">Войти в личный кабинет</a></li>-->
            </ul>
          </nav>
        </div>
      </div>

      <div class="clearfix">&nbsp;</div>

      {{>CHILDREN}}


      <br/>
      <footer>
        <div class="container">
          <div class="row">
<!--               <nav>
                <ul class="nav masterfoot-nav">
                  {{#TOP_MENU}}<li><a href="{{href}}">{{label}}</a></li>{{/TOP_MENU}}
                </ul>
              </nav>
              <nav>
                <ul class="nav masterfoot-nav">
                  <li><a href="/auth/login.html">Войти в личный кабинет</a></li>
                  <li><a href="/auth/organizer.html">Зарегистрироваться как организатор</a></li>
                  <li><a href="/auth/manager.html">Зарегистрироваться как менеджер</a></li>
                  <li><a href="/auth/partner.html">Зарегистрироваться как партнёр</a></li>
                </ul>
              </nav> -->
            <div class="inner">
              <p>© 2019, разработка компании <a href="http://computerica.com/" target="_blank">Компьютерика</a>.</p>
            </div>
          </div>
        </div>
      </footer>



<!--
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script>jQuery.noConflict();</script>

<script src="/public/effi-protocol.js"></script>
<script src="/public/general.js"></script>
-->

</body>
</html>
