
<div class="container">
    <div class="row">

<div id="loginArea">
    <h2>Вход в личный кабинет</h2>
    <div id="login_error"><!-- --></div>
    <form id="login-form">
        <table class="login"><tbody>
            <tr>
                <td></td>
                <td style="text-align: center; padding-bottom: 1em;">
                <!--
                    <a href="/en_US/index-en.html">Switch to English</a>
                    -->
                    <br />
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="login_label">Email:</td>
                <td><input id="login" type="text" tabindex="1"/></td>
                <td class="login_tip"></td>
            </tr>
            <tr>
                <td class="login_label">Пароль:</td>
                <td><input id="password" type="password"  tabindex="2"/></td>
                <td class="login_tip">пароль вводится с учётом регистра</td>
            </tr>
            <tr>
                <td class="login_label">Язык:</td>
                <td>
                    <select id="language" tabindex="3">
                        <option selected value="ru_RU">Русский</option>
                        <option value="en_US">English</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td  class="login_button" nowrap="yes">
                    <button id="login_button" type="submit" class="login_button" title="" tabIndex="4">Войти</button>
                    <button id="reset_button" type="reset" class="login_button" title="" tabIndex="5"/>Очистить</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center; padding-top: 1em;">
                    <a href="/auth/restore-password.html">Забыли пароль?</a>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

    </div>
</div>

<script type="text/javascript" src="/js/lib/prototype.js"></script>
<script type="text/javascript" src="/js/aswitch.js"></script>
<script type="text/javascript" src="/js/ajax-request.js"></script>
<script type="text/javascript" src="/js/xml-dom.js"></script>
<script type="text/javascript" src="/js/acommon.js"></script>
<script type="text/javascript" src="/js/types.js"></script>
<script type="text/javascript" src="/js/aserializer.js"></script>
<script type="text/javascript" src="/js/aurlserializer.js"></script>
<script type="text/javascript" src="/js/axmlserializer.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<script type="text/javascript" language="javascript">
    function get_locale_from_url() {
        var lang = window.location.pathname.split('/')[1];
        if (/.html$/.test(lang)) lang = 'ru_RU';
        return lang;
    }

    function DisplayError(err, errCode) {
        var errTD = $('login_error');
        if (!err) {
            errTD.hide();
        } else {
            errTD.show();
            errTD.innerHTML = (errCode != ACCESS_DENIED_EXCEPTION ? err : "Доступ запрещен.");
        }
    }

    function MakeLogin(login, password, language, skin) {
        var ret = Login(login, password, language, skin);
        if (!ret.Error) {
            if(skin) document.cookie="Skin="+skin+"; path=/";
            if(language) document.cookie="Lang="+language+"; path=/";
            document.cookie="Login="+login+"; path=/";
            document.location.assign("/" + ret.Lang + '/');
        }
        else DisplayError(ret.Error, ret.ErrCode);
    }

    document.observe('dom:loaded', function() {
        document.getElementById('login').focus();
    });

    $('login-form').observe('submit', function(e) {
        e.stop();
        MakeLogin($('login').value, $('password').value, $('language').value, 'materio');
    });

</script>

