<div class="container">
    <div class="row">

<div id="loginArea">
    <h2>Восстановление пароля</h2>
    <form id="restorepwd_form">
        <table class="login"><tbody>
            <tr><td colspan="3" id="login_error"><!-- --></td></tr>
            <!--
            <tr>
                <td></td>
                <td style="text-align: center; padding-bottom: 1em;">
                    <a href="/en_US/index-en.html">Switch to English</a>
                    <br />
                </td>
                <td></td>
            </tr>
            -->
            <tr>
                <td class="login_label">Email:</td>
                <td><input id="email" name="login" type="email" tabindex="1" required="true" /></td>
                <td class="login_tip"></td>
            </tr>

            <tr>
                <td></td>
                <td  class="restorepwd_button" nowrap="yes">
                    <button id="restorepwd_button" type="submit" class="login_button" title="" tabIndex="2">Отправить запрос</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center; padding-top: 1em;">
                    <a href="/auth/login.html">Вход в систему</a>
                </td>
                <td></td>
            </tr>
            <tr><td colspan="3" id="restorepwd_success_message">
                Запрос получен. На указанный email вскоре придёт электронное письмо. 
                Для завершения восстановления пройдите по ссылке, указанной в письме.
            </td></tr>
            </tbody>
        </table>
    </form>
</div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/public/effi-protocol.js"></script>

<script type="text/javascript">
    var workflowid = 1, 
        effi = new EffiProtocol();

    $(document).ready(function() {
        jQuery('#email').focus();
    });

    jQuery('#restorepwd_form').submit(function(e) {
        e.preventDefault();
        // console.log(jQuery(this).serializeTypedArray());
        var data = jQuery(this).serializeAURL();
        console.log(data);

        effi.request({
            url: '/nologin/srv/Basicsite/AuthConfirmationToken/SubmitRestorePassword',
            data: data,
            callback: function (result) {
                jQuery('#login_error').hide();
                jQuery('#restorepwd_success_message').show();
            },
            error: function (error) {
                jQuery('#login_error').html(error.ExceptionText);
                jQuery('#restorepwd_success_message').hide();
                jQuery('#login_error').show();
            }
        });
    });
</script>

