@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);body {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.header {
  top: 0;
  left: 0;
  width: 100vw;
  margin-top: 0;
  background: url('/computerica/images/soheader.jpg') no-repeat top center;
  height: 187px;
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 10px;
  height: 168px;
}

.attention {
  color: red;
  font-size: 20px;
  font-style: italic;
}

.shop-layout {
  width: 1028px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.shop-layout h1 {
  margin: 0 auto;
  width: max-content;
}

.shop-layout .back-button {
  margin-top: 20px;
  height: 30px;
  width: 150px;
  border: 1px solid #e6483c;
  background: #E6603B;
  font-size: 20px;
}

.shop-layout .ticket-settings {
  display: flex;
  justify-content: space-around;
}

.shop-layout .ticket-settings .ticket-date h2 {
  margin: 20px auto;
  width: max-content;
}

.shop-layout .ticket-settings .ticket-rule {
  margin: 0 20px;
}

.shop-layout .ticket-settings .ticket-rule h2 {
  text-align: center;
}

.shop-layout .ticket-settings .ticket-rule .select-container {
  width: 250px;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-box {
  background: #E6603B;
  padding: 10px;
  border-radius: 5px;
  /*border: 1px solid #E6603B;*/
  cursor: pointer;
  position: relative;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-box .label {
  color: #333;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-box .arrow {
  position: absolute;
  right: 10px;
  top: 17px;
  background-color: #333;
  display: inline-block;
  border-left: 5px solid #E6603B;
  border-top: 7px solid #ffffff;
  border-bottom: 5px solid #E6603B;
  border-right: 5px solid #E6603B;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-options .options-list {
  position: relative;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-options .options-list ul {
  list-style: none;
  padding: 0;
  background: #E6603B;
  margin: -3px;
  width: 100%;
  position: absolute;
  left: 3px;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-options .options-list ul li {
  padding: 10px;
  border-bottom: 1px solid #e6483c;
  border-left: 1px solid #e6483c;
  border-right: 1px solid #e6483c;
  cursor: pointer;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-options .options-list ul li:hover {
  background-color: #ffaf8c;
}

.shop-layout .ticket-settings .ticket-count h2 {
  text-align: center;
}

.shop-layout .ticket-settings .ticket-count .counter {
  display: flex;
  width: 150px;
  justify-content: space-around;
  height: 39px;
  background: #E6603B;
  line-height: 39px;
  margin: 0 auto;
}

.shop-layout .ticket-settings .ticket-count .counter .minus,
.shop-layout .ticket-settings .ticket-count .counter .plus {
  font-size: 25px;
  cursor: pointer;
  width: 50px;
  height: 39px;
  text-align: center;
}

.shop-layout .ticket-settings .ticket-count .counter .counter-value {
  font-size: 25px;
  background: #E6603B;
  width: 50px;
  height: 39px;
  text-align: center;
}

.shop-layout .sessions-section ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.shop-layout .sessions-section ul li {
  margin-right: 20px;
  padding: 20px;
  border: 2px solid #78d2ff;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.shop-layout .sessions-section ul li:hover {
  border: 2px solid #0099e4;
}

.shop-layout .sessions-section ul li.selected {
  border: 2px solid #0099e4;
  background: #dcfaff;
}

.shop-layout .costs-label {
  top: 210px;
  right: 220px;
  position: absolute;
  font-style: italic;
}

.shop-layout .costs-label ul {
  text-align: right;
  list-style: none;
}

.shop-layout .costs-label span {
  font-weight: bold;
}

.shop-layout .submit-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}

.shop-layout .submit-section .purchase-button {
  margin: 0 auto;
  height: 50px;
  width: 270px;
  font-size: 24px;
  color: #666;
  cursor: pointer;
  border: 2px solid #e6483c;
  background: #E6603B;
}

.shop-layout .submit-section .purchase-button:disabled {
  border: 1px solid #ffbfb6;
  background: #e6d0d1;
}

.shop-layout .order-positions {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: white;
}

.shop-layout .order-positions table {
  width: 800px;
  border: 1px solid #e6483c;
  border-collapse: collapse;
}

.shop-layout .order-positions table th {
  border: 1px solid;
  width: 200px;
  background: #E6603B;
}

.shop-layout .order-positions table td {
  border: 1px solid;
  text-align: center;
  background: #e69986;
  height: 40px;
}

.shop-layout .form {
  margin: 20px 0 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.shop-layout .form input {
  margin: 20px 0;
  width: 300px;
  display: block;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-color: #e6483c;
  font-size: 17px;
  background-color: #ffc6ab;
}

.shop-layout .form .email-note {
  color: red;
}

.shop-layout .order-result {
  height: 300px;
  color: #333;
  margin: 50px auto;
}

@media (max-width: 990px) {
  .shop-layout {
    width: unset;
  }

  .ticket-settings {
    flex-direction: column;
    align-items: center;
  }

  .date-picker {
    width: 350px;
  }

  .order-positions {
    width: 350px;
  }
}

@media (max-width: 320px) {
  .order-positions {
    width: 290px;
  }
}.date-picker {
  font-family: Roboto;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

.date-picker .calendar-header {
  height: 18px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.date-picker .calendar-header .prev-month,
.date-picker .calendar-header .next-month {
  display: block;
  box-sizing: border-box;
  height: 18px;
  width: 18px;
  padding: 0px;
  margin: 0px 10px;
  border: none;
  background: #bdc3c7;
  box-shadow: none;
  outline: none;
  border-radius: 50%;
  float: left;
  width: 60px !important;
  background-color: transparent !important;
  margin: 0 !important;
}

.date-picker .calendar-header .prev-month .prev-img,
.date-picker .calendar-header .next-month .prev-img,
.date-picker .calendar-header .prev-month .next-img,
.date-picker .calendar-header .next-month .next-img {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: auto;
  border-top: none;
  border-right: 6px none #34495e;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  text-align: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiAgZmlsbD0icmdiKDE2NywgMTcwLCAxNzIpIiBkPSJNOC4wMDAsLTAuMDAwIEw2LjU5MCwxLjQxMCBMMTIuMTcwLDcuMDAwIEwtMC4wMDAsNy4wMDAgTC0wLjAwMCw5LjAwMCBMMTIuMTcwLDkuMDAwIEw2LjU5MCwxNC41OTAgTDguMDAwLDE2LjAwMCBMMTYuMDAwLDguMDAwIEw4LjAwMCwtMC4wMDAgWiIvPjwvc3ZnPg==);
  transition: .3s;
  cursor: pointer;
}

.date-picker .calendar-header .prev-month .prev-img,
.date-picker .calendar-header .next-month .prev-img {
  transform: rotate(180deg);
}

.date-picker .calendar-header .prev-month .prev-img:hover,
.date-picker .calendar-header .next-month .prev-img:hover,
.date-picker .calendar-header .prev-month .next-img:hover,
.date-picker .calendar-header .next-month .next-img:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiAgZmlsbD0icmdiKDEyOCwgMTI4LCAxMjgpIiBkPSJNOC4wMDAsLTAuMDAwIEw2LjU5MCwxLjQxMCBMMTIuMTcwLDcuMDAwIEwtMC4wMDAsNy4wMDAgTC0wLjAwMCw5LjAwMCBMMTIuMTcwLDkuMDAwIEw2LjU5MCwxNC41OTAgTDguMDAwLDE2LjAwMCBMMTYuMDAwLDguMDAwIEw4LjAwMCwtMC4wMDAgWiIvPjwvc3ZnPg==);
}

.date-picker .calendar-header .header-caption {
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0px;
  line-height: 30px;
  margin: 0px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-picker .calendar-header .header-caption .month {
  font-size: 28px;
  text-transform: none;
  color: #505659;
  display: inline-block;
  margin: 0 5px !important;
}

.date-picker .calendar-header .header-caption .year {
  font-size: 28px;
  text-transform: none;
  color: #a7aaac;
  display: inline-block;
  margin: 0 5px !important;
}

.date-picker .calendar {
  margin-top: 30px;
  border-collapse: collapse;
}

.date-picker .calendar th,
.date-picker .calendar td {
  width: 60px;
  padding: 0;
  border: none;
}

.date-picker .calendar th .weekDay-cell,
.date-picker .calendar td .weekDay-cell {
  width: 60px;
  height: 40px;
  line-height: 18.5714px;
  box-sizing: border-box;
  letter-spacing: 0.42px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1px;
  font-family: Roboto, sans-serif;
  color: #505659;
  text-transform: uppercase;
  opacity: 0.5;
}

.date-picker .calendar th .calendar-date,
.date-picker .calendar td .calendar-date {
  height: 100%;
  line-height: 40px;
  box-sizing: border-box;
  letter-spacing: 0.42px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.1s ease;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  color: #505659;
}

.date-picker .calendar th .calendar-date.in-range,
.date-picker .calendar td .calendar-date.in-range {
  background: #f2f2e9;
}

.date-picker .calendar th .calendar-date.in-range:hover,
.date-picker .calendar td .calendar-date.in-range:hover {
  background: #d9d9d0;
}

.date-picker .calendar th .calendar-date.selected,
.date-picker .calendar td .calendar-date.selected {
  background: #d9d9d0;
}

.date-picker .calendar th .calendar-date.disabled,
.date-picker .calendar td .calendar-date.disabled {
  color: rgba(80, 86, 89, 0.5);
  cursor: default;
}

.date-picker .calendar th .calendar-date.today,
.date-picker .calendar td .calendar-date.today {
  background: #5d8db9;
  color: white;
}

.date-picker .calendar th .calendar-date:hover,
.date-picker .calendar td .calendar-date:hover {
  background: #d9d9d0;
}

.date-picker .calendar th .calendar-date.disabled:hover,
.date-picker .calendar td .calendar-date.disabled:hover {
  background: white;
}

.date-picker .calendar th .calendar-date.selected.disabled:hover,
.date-picker .calendar td .calendar-date.selected.disabled:hover {
  background: #d9d9d0;
}

.date-picker .calendar th .calendar-date.today:hover,
.date-picker .calendar td .calendar-date.today:hover {
  background: #d9d9d0;
}

@media (max-width: 420px) {
  .calendar th,
  .calendar td {
    max-width: 40px !important;
  }
}

@media (max-width: 320px) {
  .calendar th,
  .calendar td {
    max-width: 40px !important;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoidGlja2V0cy1zaG9wLmNzcyIsInNvdXJjZXMiOltdLCJtYXBwaW5ncyI6Ijs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7O0E7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7OztBIiwic291cmNlUm9vdCI6IiJ9*/