@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);body {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.header {
  top: 0;
  left: 0;
  width: 100vw;
  margin-top: 0;
  background: url('/computerica/images/soheader.jpg') no-repeat top center;
  height: 187px;
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 10px;
  height: 168px;
}

.attention {
  color: red;
  font-size: 20px;
  font-style: italic;
}

.shop-layout {
  width: 1028px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.shop-layout h1 {
  margin: 0 auto;
  width: max-content;
}

.shop-layout .back-button {
  margin-top: 20px;
  height: 30px;
  width: 150px;
  border: 1px solid #e6483c;
  background: #E6603B;
  font-size: 20px;
}

.shop-layout .ticket-settings {
  display: flex;
  justify-content: space-around;
}

.shop-layout .ticket-settings .ticket-date h2 {
  margin: 20px auto;
  width: max-content;
}

.shop-layout .ticket-settings .ticket-rule {
  margin: 0 20px;
}

.shop-layout .ticket-settings .ticket-rule h2 {
  text-align: center;
}

.shop-layout .ticket-settings .ticket-rule .select-container {
  width: 250px;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-box {
  background: #E6603B;
  padding: 10px;
  border-radius: 5px;
  /*border: 1px solid #E6603B;*/
  cursor: pointer;
  position: relative;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-box .label {
  color: #333;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-box .arrow {
  position: absolute;
  right: 10px;
  top: 17px;
  background-color: #333;
  display: inline-block;
  border-left: 5px solid #E6603B;
  border-top: 7px solid #ffffff;
  border-bottom: 5px solid #E6603B;
  border-right: 5px solid #E6603B;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-options .options-list {
  position: relative;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-options .options-list ul {
  list-style: none;
  padding: 0;
  background: #E6603B;
  margin: -3px;
  width: 100%;
  position: absolute;
  left: 3px;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-options .options-list ul li {
  padding: 10px;
  border-bottom: 1px solid #e6483c;
  border-left: 1px solid #e6483c;
  border-right: 1px solid #e6483c;
  cursor: pointer;
}

.shop-layout .ticket-settings .ticket-rule .select-container .select-options .options-list ul li:hover {
  background-color: #ffaf8c;
}

.shop-layout .ticket-settings .ticket-count h2 {
  text-align: center;
}

.shop-layout .ticket-settings .ticket-count .counter {
  display: flex;
  width: 150px;
  justify-content: space-around;
  height: 39px;
  background: #E6603B;
  line-height: 39px;
  margin: 0 auto;
}

.shop-layout .ticket-settings .ticket-count .counter .minus,
.shop-layout .ticket-settings .ticket-count .counter .plus {
  font-size: 25px;
  cursor: pointer;
  width: 50px;
  height: 39px;
  text-align: center;
}

.shop-layout .ticket-settings .ticket-count .counter .counter-value {
  font-size: 25px;
  background: #E6603B;
  width: 50px;
  height: 39px;
  text-align: center;
}

.shop-layout .sessions-section ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.shop-layout .sessions-section ul li {
  margin-right: 20px;
  padding: 20px;
  border: 2px solid #78d2ff;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.shop-layout .sessions-section ul li:hover {
  border: 2px solid #0099e4;
}

.shop-layout .sessions-section ul li.selected {
  border: 2px solid #0099e4;
  background: #dcfaff;
}

.shop-layout .costs-label {
  top: 210px;
  right: 220px;
  position: absolute;
  font-style: italic;
}

.shop-layout .costs-label ul {
  text-align: right;
  list-style: none;
}

.shop-layout .costs-label span {
  font-weight: bold;
}

.shop-layout .submit-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}

.shop-layout .submit-section .purchase-button {
  margin: 0 auto;
  height: 50px;
  width: 270px;
  font-size: 24px;
  color: #666;
  cursor: pointer;
  border: 2px solid #e6483c;
  background: #E6603B;
}

.shop-layout .submit-section .purchase-button:disabled {
  border: 1px solid #ffbfb6;
  background: #e6d0d1;
}

.shop-layout .order-positions {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: white;
}

.shop-layout .order-positions table {
  width: 800px;
  border: 1px solid #e6483c;
  border-collapse: collapse;
}

.shop-layout .order-positions table th {
  border: 1px solid;
  width: 200px;
  background: #E6603B;
}

.shop-layout .order-positions table td {
  border: 1px solid;
  text-align: center;
  background: #e69986;
  height: 40px;
}

.shop-layout .form {
  margin: 20px 0 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.shop-layout .form input {
  margin: 20px 0;
  width: 300px;
  display: block;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-color: #e6483c;
  font-size: 17px;
  background-color: #ffc6ab;
}

.shop-layout .form .email-note {
  color: red;
}

.shop-layout .order-result {
  height: 300px;
  color: #333;
  margin: 50px auto;
}

@media (max-width: 990px) {
  .shop-layout {
    width: unset;
  }

  .ticket-settings {
    flex-direction: column;
    align-items: center;
  }

  .date-picker {
    width: 350px;
  }

  .order-positions {
    width: 350px;
  }
}

@media (max-width: 320px) {
  .order-positions {
    width: 290px;
  }
}body {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  /*margin-top: -19px;*/
  background: url('/computerica/images/soheader.jpg') no-repeat top center;
  height: 187px;
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 10px;
  height: 168px;
}

.app-wrapper {
  width: 100%;
  min-height: 400px;
}

.menubar {
  margin-top: 187px;
  margin-bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.menubar a {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #E6603B;
  color: #E6603B;
}

.menubar .buy {
  font-weight: bold;
  border: 2px solid #E6603B;
}

.menubar .btn {
  text-align: center;
  text-decoration: none;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  magrgin-bottom: 10px;
}

.hidden {
  display: none;
}

.profile h2 {
  text-align: center;
}

.profile .profile-paper {
  width: 500px;
  padding: 0;
  margin: 0 auto;
}

.profile .profile-header {
  padding: 25px 0;
  background: #f9e6db;
}

.profile .profile-header h2 {
  margin: 0;
  line-height: 36px;
  color: #E6603B;
}

.profile .profile-line {
  background-color: #fbf0ea;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 25px 0;
}

.profile .profile-line label {
  width: 50%;
  line-height: 36px;
}

.profile .profile-line > div {
  width: 50%;
  line-height: 36px;
}

.profile .profile-line .profile-text-field {
  width: 200px !important;
}

.profile .profile-line .profile-text-field input {
  box-shadow: none;
}

.profile .profile-form .profile-line {
  padding: 15px;
}

.profile .profile-form .profile-line label,
.profile .profile-form .profile-line > div {
  line-height: 48px;
  height: 48px;
  position: relative;
}

.profile .profile-form .profile-line label > div,
.profile .profile-form .profile-line > div > div {
  position: absolute;
  height: 48px;
}

.profile .profile-form .profile-line label > div .profile-text-field,
.profile .profile-form .profile-line > div > div .profile-text-field {
  position: absolute !important;
  height: 48px !important;
}

.profile .profile-form .profile-line label > div .profile-text-field label,
.profile .profile-form .profile-line > div > div .profile-text-field label {
  top: 18px !important;
}

.profile .profile-form .profile-line label > div .profile-text-field > div,
.profile .profile-form .profile-line > div > div .profile-text-field > div {
  width: 200px !important;
}

.profile .profile-form .profile-line label > div .profile-text-field > div:nth-child(2) > div > div:nth-child(2),
.profile .profile-form .profile-line > div > div .profile-text-field > div:nth-child(2) > div > div:nth-child(2) {
  position: absolute !important;
}

.identifiers h2 {
  text-align: center;
}

.identifiers .profile-line {
  display: flex;
  height: 48px;
  line-height: 48px;
  width: 500px;
  justify-content: left;
}

.identifiers .profile-line .profile-text-field {
  margin-left: 15px;
  width: 200px !important;
}

.identifiers .profile-line .profile-text-field input {
  box-shadow: none;
}

.identifiers .identifiers-btn {
  height: 36px;
  line-height: 36px;
  margin: 5px 0;
  margin-left: 15px;
}

.profile .profile-line.paytool-message,
.paytool-message {
  text-align: justify;
  padding: 0 25px 25px 25px;
  font-size: 11px;
  line-height: 11px;
  color: #bbb;
}

@media (max-width: 1200px) {
  body {
    max-width: 1200px;
  }
}

@media (max-width: 992px) {
  .panel-paper .panel-table {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
  }

  .panel-paper .panel-table thead {
    width: 50%;
    display: inline-block;
  }

  .panel-paper .panel-table thead tr {
    border-bottom: none !important;
  }

  .panel-paper .panel-table tr {
    height: inherit !important;
    width: 50%;
  }

  .panel-paper .panel-table tr th {
    display: block;
    height: 40px !important;
    line-height: 20px;
  }

  .panel-paper .panel-table tr td {
    display: block;
    height: 40px !important;
    line-height: 20px;
    white-space: normal !important;
  }
}

.download {
  cursor: pointer;
}

@media (max-width: 500px) {
  .menubar {
    flex-direction: column;
  }

  .menubar a {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 !important;
  }

  .profile-paper {
    width: 100% !important;
  }

  .profile-paper .profile-line .single-button {
    width: 70%;
  }

  .public-body footer .footer-nav {
    min-width: auto !important;
    width: 100% !important;
  }

  .medium-width {
    width: 80% !important;
  }

  .profile .profile-form .profile-line > div > div {
    width: 100% !important;
  }

  .profile .profile-form .profile-line > div > div .profile-text-field {
    left: 0;
    width: 100% !important;
  }

  .profile .profile-form .profile-line > div > div .profile-text-field > div {
    width: 100% !important;
  }

  .profile .profile-line .profile-text-field {
    width: 100% !important;
  }
}

@media (max-width: 330px) {
  .public-body footer .footer-nav .soc img {
    width: 270px;
  }

  .profile-paper .profile-line .single-button {
    width: 80%;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoidXNlci1wYW5lbC5jc3MiLCJzb3VyY2VzIjpbXSwibWFwcGluZ3MiOiI7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7OztBOzs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7O0EiLCJzb3VyY2VSb290IjoiIn0=*/