  <head>
    <meta charset="UTF-8">
    <style>
     .modal {
	display: block;
	margin: 0 auto;
	margin-top: 140px;
	background-color: #fff;
	text-align: center;
	font-size: 18px
       }

     .modal_subtitle {
	font-weight: bold;
	color: #000000;
	text-align: center
       }

     .modal_descr {
	display: block;
	margin-top: 70px;
	font-size: 16px
       }

     .modal .btn {
	display: block;
	margin: 0 auto;
	margin-top: 70px;
	width: 240px;
	background-color: #0f9642;
	border: none;
	border-radius: 2px;
	color: #ffffff;
	font-size: 18px
       }
		</style>
  </head>

  <body>
       <div class="modal">
        <div class="modal_subtitle">
          Ваша оплата успешно принята!
        </div>
        <div class="modal_descr">
          <div>
            <div>Вам необходимо выехать с парковки в</div>
            течение 10 минут. Нажмите НАЗАД,
            <div>чтобы узнать время выезда</div>
          </div>
          
          </div>
          <button class="btn" onclick="WebView.backSuccess()">НАЗАД</button>
        </div>
      </div>
     </body>
</html>
