  <head>
    <meta charset="UTF-8">
    <style>
     .modal {
	display: block;
	margin: 0 auto;
	margin-top: 140px;
	background-color: #fff;
	text-align: center
}

.modal_subtitle {
	font-weight: bold;
	color: #000000;
	text-align: center;
	font-size: 20px
}

.modal_descr {
	display: block;
	margin-top: 70px;
	font-size: 16px
}

.modal .btn {
	display: block;
	margin: 0 auto;
	margin-top: 90px;
	width: 240px;
	background-color: #CD5C5C;
	border: none;
	border-radius: 2px;
	color: #ffffff;
	font-size: 18px
}
</style>
  </head>

  <body>
     <div class="modal">
        <div class="modal_subtitle">
          Ошибка
        </div>
        <div class="modal_descr">
          <div>
            <div>Операция не удалась.</div>
            <div>Повторите попытку</div>
          </div>
          
          </div>
          <button class="btn" onclick="WebView.back()">НАЗАД</button>
        </div>
      </div>
     </body>
</html>
