<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{TITLE}} | Компьютерика</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/public/basicsite.css">
</head>
<body class="public-body">
      <!--<div class="container">
        <div class="row">
          <h3 class="masthead-brand"><a href="/">Компьютерика</a> / {{TITLE}}</h3>
          <nav>
            <ul class="nav masthead-nav">
              <!-- {{#TOP_MENU}}<li><a href="{{href}}">{{label}}</a></li>{{/TOP_MENU}}
              <li><a href="/auth/login.html">Войти в личный кабинет</a></li>
            </ul>
          </nav>
        </div>
      </div>-->
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
          (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
              m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
          (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

          ym(54403639, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
          });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/54403639" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->

      <header>
	  <a href="https://showmaket.ru/">
              <img src="computerica/images/yalogo.png" alt="logo" class="logo"/>
	  </a>
          <p class="contacts_top"><span class="blue">8 800 511 80 45</span><br/>
              <span class="red">info@showmaket.ru</span><br/>
              г. Ярославль, Советский переулок 2/23а</p>
      </header>
      <div class="clearfix">&nbsp;</div>

      {{>CHILDREN}}


      <br/>
      <footer>
        <div class="container">
          <div class="row">
<!--               <nav>
                <ul class="nav masterfoot-nav">
                  {{#TOP_MENU}}<li><a href="{{href}}">{{label}}</a></li>{{/TOP_MENU}}
                </ul>
              </nav>
              <nav>
                <ul class="nav masterfoot-nav">
                  <li><a href="/auth/login.html">Войти в личный кабинет</a></li>
                  <li><a href="/auth/organizer.html">Зарегистрироваться как организатор</a></li>
                  <li><a href="/auth/manager.html">Зарегистрироваться как менеджер</a></li>
                  <li><a href="/auth/partner.html">Зарегистрироваться как партнёр</a></li>
                </ul>
              </nav> -->
            <div class="inner">
              <p class="contacts_bot"><span class="blue">8 800 511 80 45</span><br/>
              <span class="red">info@showmaket.ru</span><br/>
              г. Ярославль, Советский переулок 2/23а</p>
              <p>© 2019, разработка компании <a href="http://computerica.com/" target="_blank">Компьютерика</a>.</p>
            </div>
          </div>
        </div>
      </footer>
      <style>
            .contacts_top{
              display: block;
            }
            .contacts_bot{
              display: none;
            }
          @media (max-width:  500px){
	    .inner{
	      display: flex;
	      flex-flow: column;
	      align-items: center;
	      width: 100%;	
	    }	
            .contacts_top{
              display: none
            }
            .contacts_bot{
	      text-align: center;
              display: block;
            }
            header{
              display: flex;
	      flex-flow: column;
	      align-items: center;
            }
          }
          header{
              width: 100%;
              margin-top: 20px;
              height: 187px;
              display: flex;
              justify-content: space-between;
          }
          .logo{
              width: 350px !important;
              margin-top: -40px;
              height: 168px;
          }
          .red{
              color: red;
          }
          .blue{
              color: blue;
          }
      </style>


<!--
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script>jQuery.noConflict();</script>

<script src="/public/effi-protocol.js"></script>
<script src="/public/general.js"></script>
-->

</body>
</html>
