
<div class="container">
    <div class="row" id="card-conversion">
        <form method="GET" action="">
    		<div class="error" style="color: red; margin: 20px 0;">{{error}}</div>
            <input type="text" name="print_code" value="{{print_code}}" placeholder="Номер карты" style="width: 300px;" />
            <br/><br/>
            <input type="text" name="code" value="{{code}}" placeholder="Аппаратный код карты" disabled="true" />
            <br/><br/>
            <button type="submit">Преобразовать</button>
        </form>
    </div>
</div>

<script type="text/javascript">
	document.querySelector('[name="print_code"]').focus();
</script>
