<div class="container">
    <div id="tickets-shop">
    </div>
</div>

<link rel="stylesheet" href="/assets/tickets-shop.css">
<script type="text/javascript" src="/assets/baloon-core.js"></script>
<script type="text/javascript" src="/assets/tickets-shop.js"></script>

<script type="text/javascript" language="javascript">
baloonTicketApp('tickets-shop', 'auth-links');
</script>

