
body.public-body {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'PT Sans';
    line-height: 20px;
}
.container {
    max-width: 980px;
    padding: 0 25px;
}
@media (min-width: 1220px) {
    .container {
        max-width: 1200px;
        padding: 0 35px;
    }
}
.public-body a {
    color: #00629b;
    text-decoration: underline;
}
.public-body a:hover {
    text-decoration: none;
}
.public-body header {
    background-image: url(/custom/ski-gv/top.jpg);
    background-position: center center;
    background-size: cover;
}
.public-body header > .header-gradient {
    min-height: 190px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 100%);
}

.public-body header {
    color: white;
}
.public-body header a {
    color: white;
    text-decoration: none;
}
.public-body header a:hover {
    text-decoration: underline;
}

.public-body header > .header-gradient > .container > .row {
    flex-wrap: wrap;
}
.public-body .header-logo,
.public-body .header-logo:hover {
    margin-top: 20px;
    display: block;
    background: url(logo.png) no-repeat;
    background-size: auto 90%;
    padding: 30px 0 15px 75px;
    font-family: 'PT Sans';
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.public-body .header-logo > span {
    font-size: 15px;
    display: block;
}
.public-body header .phone {
    font-size: 18px;
    background: url(phone.png) no-repeat;
    padding: 8px 0 8px 35px;
}
@media only screen and (max-width: 1030px) {
    .public-body header .phone {
        position: absolute;
        top: 130px;
    }
}
@media only screen and (max-width: 768px) {
    .public-body header .phone {
        position: relative;
        top: auto;
    }
}

.public-body header .search input {
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 18px 0 0 18px;
    border-right: 0;
    color: #fff;
    padding: 7px 10px;
    font-size: 15px;
    width: 150px;
    background: transparent;
    outline: none;
}
.public-body header .search button {
    text-align: center;
    font-weight: bold;
    background: #ef7b03;
    border-radius: 18px;
    padding: 6px 20px;
    color: #fff;
    font-size: 15px;
    padding-left: 40px;
    position: relative;
    display: inline-block;
    margin-left: -10px;
    border: 2px solid #ef7b03;
    cursor: pointer;
}

.public-body header .tr {
    font-size: 15px;
    background: url(tr.png) no-repeat;
    padding: 0 0 0 40px;
}
    .public-body header .tr .sel {
        border: 2px solid #fff;
        height: 35px;
        border-radius: 18px;
        background: url(tr_down.png) no-repeat;
        background-position: 80px 14px;
        background-color: rgba(0,0,0,.5);
        color: #fff;
        font-size: 15px;
        outline: none;
        position: relative;
        padding-left: 15px;
        padding-right: 25px;
        margin-top: -3px;
        overflow: hidden;
        cursor: pointer;
    }
        .public-body header .tr .sel .el {
            padding: 8px 3px;
        }

.public-body header .auth {
    font-size: 15px;
    background: url(auth.png) no-repeat;
    background-position: 0px 3px;
    padding: 10px 0 10px 50px;
}
@media only screen and (max-width: 1030px) {
    .public-body header .auth {
        position: absolute;
        top: 130px;
        right: 25px;
    }
}
@media only screen and (max-width: 768px) {
    .public-body header .auth {
        position: relative;
        top: auto;
        right: auto;
    }
}


.public-body footer {
    background: url(f_bg.jpg) #006da4;
    background-repeat: repeat-x;
    padding: 50px 0;
    color: white;
    font-size: 14px;
}

.public-body footer a {
    color:  white;
}
.public-body footer p {
    margin: 0;
    font-size: 15px;
}

.public-body footer > .container > .row {
    align-items: flex-start;
    flex-wrap: wrap;
}
.public-body footer .phones {
    min-width: 191px;
    width: 20%;
}
.public-body footer .phones .copy {
    margin-top: 96px;
    margin-bottom: 50px;
}

.public-body footer .footer-nav {
    min-width: 380px;
    width: 40%;
}

.public-body footer .footer-contacts {
    min-width: 270px;
    width: 30%;
}

.public-body footer nav > ul {
    flex-direction: column;
}

.footer-nav {
    width: 40%;
}
.footer-nav .nav-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    .footer-nav .nav-grid nav {
        // padding-left: 25px;
    }
        .footer-nav .nav-grid nav ul {
            // padding-left: 20px;
            margin-top: 25px;
            list-style-type: disc;
        }
            .footer-nav .nav-grid nav ul li {
                margin-bottom: 10px;
            }

.public-body footer .footer-nav .soc_t {
    margin-top: 30px;
}


.public-body footer .logo {
    width: 94px;
    height: 136px;
    background: url(logo_f.png);
    margin-bottom: 20px;
}
.public-body footer .title {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.public-body footer .footer-nav .soc .paytools {
    margin: 12px 0 6px 0;
}
.public-body footer .footer-nav .soc .paytools svg {
    margin: 0 12px 0 0;
}
.public-body footer .footer-nav .soc .paytools path {
    fill: white;
    fill-rule: evenodd;
}

.public-body footer .footer-contacts .soc .el {
    cursor: pointer;
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
}
.public-body footer .footer-contacts .soc .el.instagram { background-image: url(s1.png); }
.public-body footer .footer-contacts .soc .el.instagram:hover { background-image: url(s1_h.png); }
.public-body footer .footer-contacts .soc .el.fb { background-image: url(s2.png); }
.public-body footer .footer-contacts .soc .el.fb:hover { background-image: url(s2_h.png); }
.public-body footer .footer-contacts .soc .el.vk { background-image: url(s3.png); }
.public-body footer .footer-contacts .soc .el.vk:hover { background-image: url(s3_h.png); }


.public-body input,
.public-body select,
#loginArea input {
    color: #8f8f8f;
    font-size: 15px;
    font-weight: normal;
    background: transparent;
    border: 1px solid #d6d6d6;
    background: #fff;
    border-radius: 5px;
    padding: 12px 12px 12px 20px;
    width: 100%;
    box-sizing: border-box;
    border-color: rgb(214, 214, 214);
}

.public-body input:focus, .public-body select:focus {
    border-color: rgb(214, 214, 214);
    background-color: white;
    box-shadow: none;
}

button.login_button {
    width: 201px;
}
#login_button, #reset_button {
    width: 97px;
}

#register_button {
    width: 200px;
}


.app-wrapper .menubar .btn {
    // position: relative;
    // top: -50px;

    border-radius: 5px;
    border: 2px solid #00629b;
    // color: #fff;
    margin: 0 10px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    padding: 12px 10px;
    display: inline-block;
    vertical-align: top;
    // margin-top: 20px;
    background: transparent;
}
.app-wrapper .menubar .btn.sel {
    background: #ef7b03;
    border-color: #ef7b03;
    color: #fff;
}


#logo-href {
    width: 185px;
    height: 105px;
    // top: 18px;
    // left: 18px;
    background: url("/custom/ski-gv/logo-words.png") no-repeat scroll left top transparent;
}

// #triangle-topleft {
//     width: 0;
//     height: 0;
//     position: absolute;
//     top: 40px;
//     border-top: 149px solid #1e183d;
//     border-right: 155px solid transparent;
// }

#support-contacts {
    top: 10px;
    background: white;
}

#header-info {
    top: 32px !important;
    left: auto !important;
}
    span.BigCalendarAndClock {
        background: rgba(30, 24, 61, .6) !important;
    }

.Green_tree_1 {
    padding-top: 208px;
}

tr.MainPath td {
    padding-top: 60px !important;
}

td.LeftTree {
    min-width: 151px;
}

div.Green_tree a.TreeLink,
span[visibility='link'], 
span.SuperclassInput.Link, 
table.ControlArray.Link thead th, 
.Link label {
    color: #00629b !important;
    font-weight: bold;
    font-style: normal;
}
span[visibility='link'], 
span.SuperclassInput.Link, 
table.ControlArray.Link thead th, 
.Link label {
    text-decoration: underline;
}
span[visibility='link']:hover, 
span.SuperclassInput.Link:hover, 
table.ControlArray.Link thead th:hover, 
.Link label:hover {
    color: #828282 !important;
}

body table.ScrollableGrid tr.SG_ActiveRow_Single td {
    background-color: rgba(30, 24, 61, .6) !important;
}
